@charset "utf-8";

#date-selector{ background-color:#e7e7e7; width:750px; height:54px; margin-bottom:20px;}
#date-selector #date-selector-data{width:690px; overflow:hidden; white-space:nowrap; display:inline-block; position:relative; height:54px; float:left;}
#date-selector #date-selector-data #date-container { position:relative; white-space:nowrap; list-style:none; height:54px; display:inline-block; position:absolute; left:0px; float:left; }

#date-selector #date-selector-data #date-container li { display:inline-block; height:50px; vertical-align:middle; text-align:center; float:left; cursor:default }
#date-selector #date-selector-data #date-container li.date-ym{ display:inline-block; width:32px; height:54px; float:left; margin:0 7px 0 20px; }
#date-selector #date-selector-data #date-container li.date-ym-first{ margin-left:0px;}
#date-selector #date-selector-data #date-container li.date{ width:24px; text-align:center }
#date-selector #date-selector-data #date-container li.date-selected { background:white url('../img/sprite3.png') no-repeat -67px 0px; color:#fff; font-weight:bold; width:26px; height:52px; margin:1px 0 } 
#date-selector #date-selector-data #date-container li.date-able{ background-color:#fff; margin:1px 0px; height:52px !important; cursor:pointer }
#date-selector #date-selector-data #date-container li.date-able:hover{ background-color:#fafafa; }

#date-selector #date-selector-data #date-container li div.date-year{ display:block; height:12px; margin:9px 0px 2px 0px; width:32px; }
#date-selector #date-selector-data #date-container li div.date-month { margin:0 auto; width:28px; height:20px; text-align:center; display:block; font-size:20px; font-weight:bold; }
#date-selector #date-selector-data #date-container li div.date-top{ display:block; width:13px; height:14px; margin:11px auto 3px auto; }
#date-selector #date-selector-data #date-container li div.date-bottom{ display:block; width:16px; height:12px; margin:0 auto; }

#date-selector #date-selector-data #date-container li.date-able div.date-top{ margin-top:10px }
#date-selector #date-selector-data #date-container li.date-selected div.date-top{ margin-top:10px }

#date-selector #date-selector-data #date-container li.date-selected div.date-bottom{ color:white !important }
#date-selector #date-selector-data #date-container li div.date-bottom.date-blue{ color:#09C; font-weight:bold }
#date-selector #date-selector-data #date-container li div.date-bottom.date-red{ color:#F00; font-weight:bold }


#date-selector #slider-prev, #date-selector #slider-next{ display:inline-block; height:50px; float:left; padding:0px 10px; color:#8f8f8f; cursor:pointer; }
#date-selector #slider-prev div, #date-selector #slider-next div{ margin-top:15px; }
#date-selector #slider-next{ float:right; }

#date-selector #slider-prev .janryu-prev, #date-selector #slider-next .janryu-next{ background:url('../img/sprite3.png') no-repeat; }

#date-selector #slider-prev .janryu-prev{ background-position: 0px -16px; width: 8px; height: 19px; }
#date-selector #slider-prev .janryu-prev:hover{ background-position: -8px -16px; }
#date-selector #slider-next .janryu-next{ background-position: -16px -16px; width: 8px; height: 19px; }
#date-selector #slider-next .janryu-next:hover{ background-position: -24px -16px; }