@charset "utf-8";

ul,ol { margin: 0; padding: 0; list-style: none }
li { margin: 0; padding: 0 }
dl,dt,dd{ margin:0; padding:0 }
a img{ border:none; outline:none }

body{
	margin:0;
	padding:0;
	
	font-size:12px;
	font-family:나눔고딕,NanumGothic,돋움,Dotum,Arial,Helvetica,sans-serif;
}	


#logo-bar { height: 50px; padding-top: 25px; background-color: #f5f5f5; border-bottom: 3px solid #ef279d;}
#logo-bar #logo {width: 670px; height: 23px; margin: 0 auto; background: transparent url('./res/gnb_logo.png') no-repeat;}

#wrap { width: 1000px; margin: 30px auto 20px auto; }


#footer{ width:1000px; margin:0 auto; font-size:10px; *zoom:1 }
#footer:after{ display:block; clear:both; content:"" }

#footer #footer-left{ float:left; margin-top: 50px; margin-bottom:40px }
#footer #footer-right{ float:right; width:350px; margin-top: 50px; margin-bottom:40px }
#footer #footer-right .footer-right-child{ margin-bottom:6px; *zoom:1 }
#footer #footer-right .footer-right-child:after{ display:block; clear:both; content:"" }

#footer #footer-right .footer-right-child ul li{
	float:right;
	background:transparent url('./res/footer_links.png') no-repeat;
	font-size:0px;
	color:transparent;
	height:12px;
	
	-moz-user-select:none;
	-khtml-user-select:none;
	-webkit-user-select:none;
	user-select: none;
}

#footer #footer-right .footer-right-child ul li.frc1-border{ width:25px; background-position:-41px 0px; }
#footer #footer-right .footer-right-child ul li#frc1-1{ width:41px; background-position:0px 0px; }
#footer #footer-right .footer-right-child ul li#frc1-2{ width:84px; background-position:-66px 0px; }
#footer #footer-right .footer-right-child ul li#frc1-3{ width:19px; background-position:-175px 0px }
#footer #footer-right .footer-right-child ul li#frc2-1{ width:274px; height:13px; background-position:0px -12px; cursor:default }
#footer #footer-right .footer-right-child ul li#frc2-2{ width:43px; height:13px; background-position:-274px -12px }

#footer #footer-right .footer-right-child ul li#frc1-1:hover{ width:41px; background-position:0px -25px; }
#footer #footer-right .footer-right-child ul li#frc1-2:hover{ width:84px; background-position:-66px -25px; }
#footer #footer-right .footer-right-child ul li#frc1-3:hover{ width:19px; background-position:-175px -25px }
#footer #footer-right .footer-right-child ul li#frc2-2:hover{ width:43px; background-position:-274px -37px }