

<import path="styleMyPage.css">

<title>한국디지털미디어고등학교 교내 인트라넷</title>

<div id="logo-bar">
	<div id="logo"></div>
</div>

<div id="wrap">
	{getContent()}
</div>

<div id="footer">
	<div id="footer-left">
		<a href="/credit" target="_blank"><img src="./res/footer_copyright.png" width="596" height="30" /></a>
	</div>
	<div id="footer-right">
		<div class="footer-right-child">
			<ul>
				<a href="https://developer.dimigo.hs.kr" target="_blank"><li id="frc1-3">API</li></a>
				<li class="frc1-border"></li>
				<a href="#"><li id="frc1-2">개인정보취급방침</li></a>
				<li class="frc1-border"></li>
				<a href="#"><li id="frc1-1">이용약관</li></a>
			</ul>
		</div>
		<div class="footer-right-child">
			<ul>
				<a href="http://hangeul.naver.com/font" target="_blank"><li id="frc2-2">설치하기</li></a>
				<li id="frc2-1">이 웹사이트는 나눔고딕을 설치하시면 더욱 아름답습니다.</li>
			</ul>
		</div>
	</div>
</div>