RewriteEngine On


# allow sso-server/index.php
RewriteRule ^sso-server/index.php$ - [L]
RewriteRule ^sso-server/?$ - [L]

# login, credit module short url
RewriteRule ^login(\/?)$ ./index.php?module=login&action=dispLoginPage&%{QUERY_STRING} [L,QSA]
RewriteRule ^credit(\/?)$ ./index.php?module=credit&%{QUERY_STRING} [L,QSA]

# board acticle short url
RewriteRule ^([0-9]+)/?$ ./index.php?module=board&action=dispArticle&article_no=$1&%{QUERY_STRING} [L,QSA]
RewriteRule ^([a-zA-Z0-9-_]+)/([a-zA-Z0-9-_]+)/([0-9]+)/?$ ./index.php?module=board&action=dispArticle&article_no=$3&_menu1=$1&_menu2=$2&%{QUERY_STRING} [L,QSA]

# menu short url
RewriteRule ^([a-zA-Z0-9-_]+)/?$ ./index.php?menu=$1&%{QUERY_STRING} [L,QSA]
RewriteRule ^([a-zA-Z0-9-_]+)/([a-zA-Z0-9-_]+)/?$ ./index.php?menu1=$1&menu2=$2&%{QUERY_STRING} [L,QSA]


# timetable, school rule page html
RewriteRule ^school-life/daily-timetable/(.+).html$ ./index.php?module=page&page=daily-timetable&file=$1
RewriteRule ^school-life/school-rules/(.+).html$ ./index.php?module=page&page=school-rules&file=$1


# sub-directory php access denied
RewriteRule ^(.+)/(.+)\.php$ [L,F]

# config access denied
RewriteRule ^config/(.+)$ - [L,F]

# info.json access denied
RewriteRule ^modules/(.+)/info\.json$ [L,F]

# template html access denied
RewriteRule ^modules/(.+)/template/(.+)\.html$ [L,F]

# layout html access denied
RewriteRule ^layouts/(.+)\.html$ [L,F]

# pmc_error.log access denied
RewriteRule ^files/pmc_error\.log$ [L,F]