<?xml version="1.0" encoding="UTF-8"?>
<configuration>
	<system.webServer>
		<rewrite>
			<rules>
				<rule name="rule 1l" stopProcessing="true">
					<match url="^sso-server/index.php$" />
					<action type="Rewrite" url="./sso-server/index.php" />
				</rule>
				<rule name="rule 2l" stopProcessing="true">
					<match url="^sso-server/?$" />
					<action type="Rewrite" url="./sso-server/index.php"  />
				</rule>
				<rule name="rule 3b" stopProcessing="true">
					<match url="^login(\/?)$"  />
					<action type="Rewrite" url="/./index.php?module=login&amp;action=dispLoginPage&amp;%{QUERY_STRING}"  appendQueryString="true" />
				</rule>
				<rule name="rule 3c" stopProcessing="true">
					<match url="^credit(\/?)$"  />
					<action type="Rewrite" url="/./index.php?module=credit&amp;%{QUERY_STRING}"  appendQueryString="true" />
				</rule>
				<rule name="rule 4b" stopProcessing="true">
					<match url="^([0-9]+)/?$"  />
					<action type="Rewrite" url="/./index.php?module=board&amp;action=dispArticle&amp;article_no={R:1}&amp;%{QUERY_STRING}"  appendQueryString="true" />
				</rule>
				<rule name="rule 5b" stopProcessing="true">
					<match url="^([a-zA-Z0-9-_]+)/([a-zA-Z0-9-_]+)/([0-9]+)/?$"  />
					<action type="Rewrite" url="/./index.php?module=board&amp;action=dispArticle&amp;article_no={R:3}&amp;_menu1={R:1}&amp;_menu2={R:2}&amp;%{QUERY_STRING}"  appendQueryString="true" />
				</rule>
				<rule name="rule 6b" stopProcessing="true">
					<match url="^([a-zA-Z0-9-_]+)/?$"  />
					<action type="Rewrite" url="/./index.php?menu={R:1}&amp;%{QUERY_STRING}"  appendQueryString="true" />
				</rule>
				<rule name="rule 7b" stopProcessing="true">
					<match url="^([a-zA-Z0-9-_]+)/([a-zA-Z0-9-_]+)/?$"  />
					<action type="Rewrite" url="/./index.php?menu1={R:1}&amp;menu2={R:2}&amp;%{QUERY_STRING}"  appendQueryString="true" />
				</rule>
				<rule name="rule 8b" stopProcessing="true">
					<match url="^(.+)/(.+)\.php$"  />
					<action type="Rewrite" url="/"  />
				</rule>
				<rule name="rule 9b" stopProcessing="true">
					<match url="^config/(.+)$"  />
					<action type="Rewrite" url="/"  />
				</rule>
				<rule name="rule 10b" stopProcessing="true">
					<match url="^modules/(.+)/info.json$"  />
					<action type="Rewrite" url="/"  />
				</rule>
				<rule name="rule 11b" stopProcessing="true">
					<match url="^modules/(.+)/template/(.+)\.html$"  />
					<action type="Rewrite" url="/"  />
				</rule>
				<rule name="rule 12b" stopProcessing="true">
					<match url="^layouts/(.+)\.html$"  />
					<action type="Rewrite" url="/"  />
				</rule>
				<rule name="rule 13b" stopProcessing="true">
					<match url="^files/pmc_error.log$"  />
					<action type="Rewrite" url="/"  />
				</rule>
				<rule name="rule 1x">
					<match url="^school-life/daily-timetable/(.+).html$"  />
					<action type="Rewrite" url="/./index.php?module=page&amp;page=daily-timetable&amp;file={R:1}"  />
				</rule>
				<rule name="rule 2x">
					<match url="^school-life/school-rules/(.+).html$"  />
					<action type="Rewrite" url="/./index.php?module=page&amp;page=school-rules&amp;file={R:1}"  />
				</rule>

			</rules>
		</rewrite>
	</system.webServer>
</configuration>