body {margin: 0;}
#container {width: 670px; margin: 0 auto;}
#title {width: 670px; height: 39px; margin-top: 30px; margin-bottom: 25px; background: transparent url('./img/title_idpw.png') no-repeat;}

#id-section {width: 280px; padding: 20px; float: left; border: 3px solid #e3e3e3; border-radius: 3px;}

#pw-section {width: 280px; padding: 20px; float: right; border: 3px solid #e3e3e3; border-radius: 3px;}

.section-title-box {height: 60px; border-bottom: 2px solid #eeeeee;}
.section-title-box .section-title {font-size: 15px; font-weight: bold; margin-bottom: 5px;}
.section-title-box .section-subtitle {color: #999a9a; font-size: 11px;}
.section-body {height: 97px; padding-top: 21px; border-bottom: 2px solid #eeeeee;}
.section-body .input-container {margin-bottom: 12px;}

#id-section .section-body {}
#id-section .section-body .input-title {width: 38px; font-size: 12px; display: inline-block;}
#id-section .section-body #input-id-name {height: 13px; padding: 0;}
#id-section .section-body .input-number {}
#id-confirm-btn {width: 59px; height: 30px; background: transparent url('./img/btn_confirm.png') no-repeat; cursor: pointer; border: 0; padding: 0; margin: 15px 110px 0px 110px;}

#pw-section .section-body {}
#pw-section .section-body .input-title {width: 54px; font-size: 12px; display: inline-block;}
#pw-section .section-body #input-pw-name {height: 13px; padding: 0;}
#pw-section .section-body #input-pw-id {height: 13px; padding: 0;}
#pw-section .section-body #input-pw-email {width: 200px; height: 13px; padding: 0;}
#pw-confirm-btn {width: 59px; height: 30px; background: transparent url('./img/btn_confirm.png') no-repeat; cursor: pointer; border: 0; padding: 0; margin: 15px 110px 0px 110px;}