<import path="css/dietDown.css">

<script type="text/javascript">

</script>

<div id="container"> 
	<div>
		<form>
			<span id="title">식단표</span>
			<input type="submit" value="▤ 식단표 보기" id="view-btn">
		</form>
	</div>

	<div id = "tip">
		식단표는 엑셀(.xlsx) 파일로 제공됩니다. 식단표를 열람하기 위해서는 Microsoft Excel, 한셀 등의 프로그램이 필요합니다.</br>
		프로그램이 없으시다면 <a href="www.naver.com">여기를 클릭해 다운로드</a>하실 수 있습니다.
	</div>

	<table id="main-table">
		<tr id="table-header">
			<td id="head-title">제목</td>
			<td id="head-date">등록일</td>
			<td id="head-down">다운로드</td>
		</tr>

		<tr>
			<td class="file-title">2013년 9월 3주 식단표</td>
			<td class="file-date">2013/09/03</td>
			<td class="file-down">*</td>
		</tr>

		<tr>
			<td class="file-title">2013년 9월 3주 식단표</td>
			<td class="file-date">2013/09/03</td>
			<td class="file-down">*</td>
		</tr>

		<tr>
			<td class="file-title">2013년 9월 3주 식단표</td>
			<td class="file-date">2013/09/03</td>
			<td class="file-down">*</td>
		</tr>

		<tr>
			<td class="file-title">2013년 9월 3주 식단표</td>
			<td class="file-date">2013/09/03</td>
			<td class="file-down">*</td>
		</tr>

		<tr>
			<td class="file-title">2013년 9월 3주 식단표</td>
			<td class="file-date">2013/09/03</td>
			<td class="file-down">*</td>
		</tr>

		<tr>
			<td class="file-title">2013년 9월 3주 식단표</td>
			<td class="file-date">2013/09/03</td>
			<td class="file-down">*</td>
		</tr>

		<tr>
			<td class="file-title">2013년 9월 3주 식단표</td>
			<td class="file-date">2013/09/03</td>
			<td class="file-down">*</td>
		</tr>

		<tr>
			<td class="file-title">2013년 9월 3주 식단표</td>
			<td class="file-date">2013/09/03</td>
			<td class="file-down">*</td>
		</tr>

		<tr>
			<td class="file-title">2013년 9월 3주 식단표</td>
			<td class="file-date">2013/09/03</td>
			<td class="file-down">*</td>
		</tr>

		<tr>
			<td class="file-title">2013년 9월 3주 식단표</td>
			<td class="file-date">2013/09/03</td>
			<td class="file-down">*</td>
		</tr>
	</table>

	<div id="page-btn">
		
		<div id="last-btn">◀◀ 맨앞</div>
		<div id="prev-btn">◀ 이전</div>

		<ul>
			<li id="current-page">
				<a href="www.naver.com">1</a>
			</li>
			<li>
				<a href="www.naver.com">2</a>
			</li>
			<li>
				<a href="www.naver.com">3</a>
			</li>
			<li>
				<a href="www.naver.com">4</a>
			</li>
			<li>
				<a href="www.naver.com">5</a>
			</li>
			<li>
				<a href="www.naver.com">6</a>
			</li>
			<li>
				<a href="www.naver.com">7</a>
			</li>
			<li>
				<a href="www.naver.com">8</a>
			</li>
			<li>
				<a href="www.naver.com">9</a>
			</li>
			<li>
				<a href="www.naver.com">10</a>
			</li>
		</ul>

		<div id="next-btn">다음 ▶</div>
		<div id="foremost-btn">맨뒤 ▶▶</div>

	</div>
</div>