<import path="css/dietMain.css">

<script type="text/javascript" src="./js/diet_main.js"></script>

<div id="container">
	<div id="date">
		<span id="null-ptxt">(이동불가)</span>
		<span id="prev-txt">이전</span>
			{printPrev()}
				<span id="diet-day">  {printBigMealDate()} </span> 
			{printNext()}
		<span id="next-txt">다음</span>
		<span id="null-ntxt">(이동불가)</span>
	</div>

	<div id="tip">
		<span>우리 급식실은 국내산 쌀, 돼지고기, 소고기, 김치, 고춧가루만을 사용합니다.</span>

		<span class="fr">
			<label>
				<input type="checkbox" id="allergy-info"> 
				<span id="allergy-mark">&nbsp;알레르기 표시 보기</span>  
			</label>

			<div id="allergy-popup">
				<strong>알레르기 표시</strong><br>
				<span>★ 표시가 된 식단은 난류, 우유, 메밀, 땅콩, 대두, 밀, 고등어, 게, 새우, 돼지고기, 복숭아, 토마토가 포함되어 있는 음식입니다. 식품 알레르기가 있는 학생은 참고하시기 바랍니다.</span>
			</div>
			
			<label>
				<input type="checkbox" id="inf-detail"> 
				<span>&nbsp;영양정보/원산지 보기</span>
			</label>
		</span>
	</div>


	<table id="main-table">

		<tr id="diet-header">
			<td id="division" style="border-left:0px;">구분</td>
			<td class="week">
				<span class="week-day">{dispDay(0)}</span> <br>
				<span>{printMealDate(0)}</span>
			</td>
			<td class="week">
				<span class="week-day">{dispDay(1)}</span> <br>
				<span>{printMealDate(1)}</span>
			</td>
			<td class="week">
				<span class="week-day">{dispDay(2)}</span> <br>
				<span>{printMealDate(2)}</span>
			</td>
			<td class="week">	
				<span class="week-day">{dispDay(3)}</span> <br>
				<span>{printMealDate(3)}</span>
			</td>
			
		</tr>


		<tr class="food-table">
			<td class="day-food">아침</td>

			<td class="inf-menu">식단</td>

				<td class="table-cell" {MealBackground("b")}> <!-- 월요일 조식 -->
					{printMealTitle("0","b")}
					{printMealData("0","b")}
				</td>
				<td class="table-cell" {MealBackground("nb")} > <!-- 화요일 조식  -->
					{printMealTitle("1","b")}
					{printMealData("1","b")}
				</td>
				<td class="table-cell" > <!-- 수요일 조식  -->
					{printMealTitle("2","b")}
					{printMealData("2","b")}
				</td>
				<td class="table-cell" > <!-- 목요일 조식  -->
					{printMealTitle("3","b")}
					{printMealData("3","b")}
				</td>
		</tr>

		<tr class="nutrition-table">
			<td class="food-nutrition">영양정보</td>

				<td class="table-cell"  >

					<div class="kind-nutrition">
						<span>열량</span><br>
						<span>단백질</span><br>
						<span>지방</span>
					</div>
					<div class="inf-nutrition">
						<span>{printMealNutrition("0","b","열량")}</span><br>
						<span>{printMealNutrition("0","b","단백질")}</span><br>
						<span>{printMealNutrition("0","b","지방")}</span>
					</div>
				</td>
				<td class="table-cell"  >
					<div class="kind-nutrition">
						<span>열량</span><br>
						<span>단백질</span><br>
						<span>지방</span>
					</div>
					<div class="inf-nutrition">
						<span>{printMealNutrition("1","b","열량")}</span><br>
						<span>{printMealNutrition("1","b","단백질")}</span><br>
						<span>{printMealNutrition("1","b","지방")}</span>
					</div>
				</td>
				<td class="table-cell"  >
					<div class="kind-nutrition">
						<span>열량</span><br>
						<span>단백질</span><br>
						<span>지방</span>
					</div>
					<div class="inf-nutrition">
						<span>{printMealNutrition("2","b","열량")}</span><br>
						<span>{printMealNutrition("2","b","단백질")}</span><br>
						<span>{printMealNutrition("2","b","지방")}</span>
					</div>
				</td>
				<td class="table-cell"  >
					<div class="kind-nutrition">
						<span>열량</span><br>
						<span>단백질</span><br>
						<span>지방</span>
					</div>
					<div class="inf-nutrition">
						<span>{printMealNutrition("3","b","열량")}</span><br>
						<span>{printMealNutrition("3","b","단백질")}</span><br>
						<span>{printMealNutrition("3","b","지방")}</span>
					</div>
				</td>
		</tr>

		<tr class="origin-table">
			<td class="inf-origin">원산지</td>

			<td class="table-cell"  >
				{printNation("0","b")}
			</td>
			<td class="table-cell"  >
				{printNation("1","b")}
			</td>
			<td class="table-cell"  >
				{printNation("2","b")}
			</td>
			<td class="table-cell"  >
				{printNation("3","b")}
			</td>
		</tr>

		<tr class="food-table">
			<td class="day-food">점심</td>

			<td class="inf-menu">식단</td>

				<td class="table-cell" {MealBackground("l")}  > <!-- 월요일 중식   -->
					{printMealTitle("0","l")}
					{printMealData("0","l")}
				</td>
				<td class="table-cell"  > <!-- 화요일 중식   -->
					{printMealTitle("1","l")}
					{printMealData("1","l")}
				</td>
				<td class="table-cell"  > <!-- 수요일 중식   -->
					{printMealTitle("2","l")}
					{printMealData("2","l")}
				</td>
				<td class="table-cell"  > <!-- 목요일 중식   -->
					{printMealTitle("3","l")}
					{printMealData("3","l")}
				</td>
		</tr>

		<tr class="nutrition-table">
			<td class="food-nutrition">영양정보</td>

				<td class="table-cell"  >
					<div class="kind-nutrition">
						<span>열량</span><br>
						<span>단백질</span><br>
						<span>지방</span>
					</div>
					<div class="inf-nutrition">
						<span>{printMealNutrition("0","l","열량")}</span><br>
						<span>{printMealNutrition("0","l","단백질")}</span><br>
						<span>{printMealNutrition("0","l","지방")}</span>
					</div>
				</td>
				<td class="table-cell"  >
					<div class="kind-nutrition">
						<span>열량</span><br>
						<span>단백질</span><br>
						<span>지방</span>
					</div>
					<div class="inf-nutrition">
						<span>{printMealNutrition("1","l","열량")}</span><br>
						<span>{printMealNutrition("1","l","단백질")}</span><br>
						<span>{printMealNutrition("1","l","지방")}</span>
					</div>
				</td>
				<td class="table-cell"  >
					<div class="kind-nutrition">
						<span>열량</span><br>
						<span>단백질</span><br>
						<span>지방</span>
					</div>
					<div class="inf-nutrition">
						<span>{printMealNutrition("2","l","열량")}</span><br>
						<span>{printMealNutrition("2","l","단백질")}</span><br>
						<span>{printMealNutrition("2","l","지방")}</span>
					</div>
				</td>
				<td class="table-cell"  >
					<div class="kind-nutrition">
						<span>열량</span><br>
						<span>단백질</span><br>
						<span>지방</span>
					</div>
					<div class="inf-nutrition">
						<span>{printMealNutrition("3","l","열량")}</span><br>
						<span>{printMealNutrition("3","l","단백질")}</span><br>
						<span>{printMealNutrition("3","l","지방")}</span>
					</div>
				</td>
		</tr>

		<tr class="origin-table">
			<td class="inf-origin">원산지</td>

			<td class="table-cell"  >
				{printNation("0","l")}
			</td>
			<td class="table-cell"  >
				{printNation("1","l")}
			</td>
			<td class="table-cell"  >
				{printNation("2","l")}
			</td>
			<td class="table-cell"  >
				{printNation("3","l")}
			</td>
		</tr>

		<tr class="food-table">
			<td class="day-food">저녁</td>

			<td class="inf-menu">식단</td>

				<td class="table-cell" {MealBackground("d")}  > <!-- 월요일 석식    -->
					{printMealTitle("0","d")}
					{printMealData("0","d")}
				</td>
				<td class="table-cell"  > <!-- 화요일 석식    -->
					{printMealTitle("1","d")}
					{printMealData("1","d")}
				</td>
				<td class="table-cell"  > <!-- 수요일 석식    -->
					{printMealTitle("2","d")}
					{printMealData("2","d")}
				</td>
				<td class="table-cell"  > <!-- 목요일 석식    -->
					{printMealTitle("3","d")}
					{printMealData("3","d")}
				</td>
		</tr>

		<tr class="nutrition-table">
			<td class="food-nutrition">영양정보</td>

				<td class="table-cell"  >
					<div class="kind-nutrition">
						<span>열량</span><br>
						<span>단백질</span><br>
						<span>지방</span>
					</div>
					<div class="inf-nutrition">
						<span>{printMealNutrition("0","d","열량")}</span><br>
						<span>{printMealNutrition("0","d","단백질")}</span><br>
						<span>{printMealNutrition("0","d","지방")}</span>
					</div>
				</td>
				<td class="table-cell"  >
					<div class="kind-nutrition">
						<span>열량</span><br>
						<span>단백질</span><br>
						<span>지방</span>
					</div>
					<div class="inf-nutrition">
						<span>{printMealNutrition("1","d","열량")}</span><br>
						<span>{printMealNutrition("1","d","단백질")}</span><br>
						<span>{printMealNutrition("1","d","지방")}</span>
					</div>
				</td>
				<td class="table-cell"  >
					<div class="kind-nutrition">
						<span>열량</span><br>
						<span>단백질</span><br>
						<span>지방</span>
					</div>
					<div class="inf-nutrition">
						<span>{printMealNutrition("2","d","열량")}</span><br>
						<span>{printMealNutrition("2","d","단백질")}</span><br>
						<span>{printMealNutrition("2","d","지방")}</span>
					</div>
				</td>
				<td class="table-cell"  >
					<div class="kind-nutrition">
						<span>열량</span><br>
						<span>단백질</span><br>
						<span>지방</span>
					</div>
					<div class="inf-nutrition">
						<span>{printMealNutrition("3","d","열량")}</span><br>
						<span>{printMealNutrition("3","d","단백질")}</span><br>
						<span>{printMealNutrition("3","d","지방")}</span>
					</div>
				</td>
		</tr>

		<tr class="origin-table">
			<td class="inf-origin">원산지</td>

			<td class="table-cell"  >
				{printNation("0","d")}
			</td>
			<td class="table-cell"  >
				{printNation("1","d")}
			</td>
			<td class="table-cell"  >
				{printNation("2","d")}
			</td>
			<td class="table-cell"  >
				{printNation("3","d")}
			</td>
		</tr>



		<!-- 간식  -->

		<tr class="food-table" id = "snack">
			<td class="day-food">간식</td>

			<td class="inf-menu">식단</td>

				<td class="table-cell" {MealBackground("s")}  > <!-- 월요일 조식 -->
					{printMealTitle("0","s")}
					{printMealData("0","s")}
				</td>
				<td class="table-cell"  > <!-- 화요일 조식  -->
					{printMealTitle("1","s")}
					{printMealData("1","s")}
				</td>
				<td class="table-cell"  > <!-- 수요일 조식  -->
					{printMealTitle("2","s")}
					{printMealData("2","s")}
				</td>
				<td class="table-cell"  > <!-- 목요일 조식  -->
					{printMealTitle("3","s")}
					{printMealData("3","s")}
				</td>
		</tr>

		<tr class="nutrition-table">
			<td class="food-nutrition">영양정보</td>

				<td class="table-cell"  >

					<div class="kind-nutrition">
						<span>열량</span><br>
						<span>단백질</span><br>
						<span>지방</span>
					</div>
					<div class="inf-nutrition">
						<span>{printMealNutrition("0","s","열량")}</span><br>
						<span>{printMealNutrition("0","s","단백질")}</span><br>
						<span>{printMealNutrition("0","s","지방")}</span>
					</div>
				</td>
				<td class="table-cell"  >
					<div class="kind-nutrition">
						<span>열량</span><br>
						<span>단백질</span><br>
						<span>지방</span>
					</div>
					<div class="inf-nutrition">
						<span>{printMealNutrition("1","s","열량")}</span><br>
						<span>{printMealNutrition("1","s","단백질")}</span><br>
						<span>{printMealNutrition("1","s","지방")}</span>
					</div>
				</td>
				<td class="table-cell"  >
					<div class="kind-nutrition">
						<span>열량</span><br>
						<span>단백질</span><br>
						<span>지방</span>
					</div>
					<div class="inf-nutrition">
						<span>{printMealNutrition("2","s","열량")}</span><br>
						<span>{printMealNutrition("2","s","단백질")}</span><br>
						<span>{printMealNutrition("2","s","지방")}</span>
					</div>
				</td>
				<td class="table-cell"  >
					<div class="kind-nutrition">
						<span>열량</span><br>
						<span>단백질</span><br>
						<span>지방</span>
					</div>
					<div class="inf-nutrition">
						<span>{printMealNutrition("3","s","열량")}</span><br>
						<span>{printMealNutrition("3","s","단백질")}</span><br>
						<span>{printMealNutrition("3","s","지방")}</span>
					</div>
				</td>
		</tr>

		<tr class="origin-table">
			<td class="inf-origin">원산지</td>

			<td class="table-cell"  >
				{printNation("0","s")}
			</td>
			<td class="table-cell"  >
				{printNation("1","s")}
			</td>
			<td class="table-cell"  >
				{printNation("2","s")}
			</td>
			<td class="table-cell"  >
				{printNation("3","s")}
			</td>
		</tr>

	</table>
</div>