body {margin: 0;}
#container {width: 670px; height: 315px; margin: 0 auto;}
#title {width: 670px; height: 38px; margin-top: 30px; margin-bottom: 25px; background: transparent url('./img/pwreset_title.png') no-repeat;}

#inf-window {width: 596px; height: 99px; margin: 0 auto; border-bottom: 3px solid #eeeeee; border-radius: 3px;}
#main-box {width: 664px; height: 273px; border: 3px solid #eeeeee; border-radius: 3px;}

#main-box .container-header {display: inline-block; *display: inline; zoom: 1; margin:5px; margin-top: 20px; }
	

#main-box .input-name { font-size: 13px; width: 50px; font-weight: bolder; display: inline-block; *display: inline; zoom: 1;}
#main-box .pw-name { font-size: 13px; width: 100px; font-weight: bolder; display: inline-block; *display: inline; zoom: 1;}

#main-box .input-id {width: 90px; display: inline-block; *display: inline; zoom: 1; margin-bottom: 10px;}
#main-box #input-pw {margin-bottom: 9px;}
#main-box .textbox {margin-right: 0px;}
#main-box .input-tip { display: inline-block; *display: inline; zoom: 1; width: 190px; font-size: 6px; margin-left: 3px; }
#main-box .line-tip {margin-bottom: 3px;}

#title-tip { font-size:11px;  font-weight: bolder; margin: 15px; margin-left: 30px;}
#pw-tip { width:600px; font-size: 11px; margin-left:35px; list-style-image: url('./img/dot.png'); opacity: 0.8; }
#main-box #checkall-btn {width: 59px; height: 30px; background: transparent url('./img/btn_confirm.png') no-repeat; display: block; margin: 15px auto ; padding: 0; border: 0; cursor: pointer;}