body {margin: 0;}
#container {width: 670px; margin: 0 auto;}
#title {width: 670px; height: 38px; margin-top: 30px; margin-bottom: 25px; background: transparent url('./res/title_emailfail.png') no-repeat;}
#main-box {width: 664px; height: 233px; border: 3px solid #e3e3e3; border-radius: 3px;}
#main-box #contents {width: 376px; height: 67px; text-align: center; color: transparent; background: transparent url('./res/contents_emailfail.png') no-repeat; margin: 60px auto 25px;}
#main-box #btn-box {width: 173px; height: 25px; margin: 0 auto;}
#main-box #btn-box #retry-btn {width: 84px; height: 25px; background: transparent url('./res/btn_retry.png') no-repeat; display: block; margin: 0; padding: 0; border: 0; cursor: pointer; float: left;}
#main-box #btn-box #signup-btn {width: 84px; height: 25px; background: transparent url('./res/btn_signup.png') no-repeat; display: block; margin: 0; padding: 0; border: 0; cursor: pointer; float: right}