body {margin: 0;}
#container {width: 670px; margin: 0 auto;}
#title {width: 670px; height: 38px; margin-top: 30px; margin-bottom: 25px; background: transparent url('./img/pwreset_title.png') no-repeat;}
#main-box {width: 664px; height: 263px; border: 3px solid #eeeeee; border-radius: 3px;}
#main-box.input-title {display: inline-block;}
#main-box #checkall-btn {width: 163px; height: 25px; background: transparent url('./img/btn_confirm.png') no-repeat; display: block; margin: 40px auto ; padding: 0; border: 0; cursor: pointer;}