<import path="/static/css/popup.css">
<import path="css/morning_song_manage.css">

<import path="/static/js/popup.js">
<import path="js/morning_song_play.js">
<import path="js/morning_song_manage.js">


<div class="morningsong" id="today">
	<div class="morningsong-container">
		<div class="morningsong-container-title">
			<span id="today-date">{$todayDate}</span><span class="hot-pink">오늘의 기상송</span>
			<input type="button" id="today-download-all-button"/>
		</div>
		<span id="tip">매일 오전 7시에 업데이트됩니다.</span>
		<div class="song">
			<div class="main-building">
				<div class="building">본관</div>
				<button id="play-button-0" class="play-btn" onclick="togglePlayMusic(0)"><span class="hidden">재생</span></button>
				<div id="today-main-building-song">
					<condition do="$todaySong_bon">
						{$todaySong_bon->song_name}
					<else>	
						선정된 곡이 없습니다.
					</condition>
				</div>
			</div>
			<div class="sub-building">
				<div class="building">학봉관</div>
				<button id="play-button-1" class="play-btn" onclick="togglePlayMusic(1)"><span class="hidden">재생</span></button>
				<div id="today-sub-building-song">
					<condition do="$todaySong_hak">
						{$todaySong_hak->song_name}
					<else>	
						선정된 곡이 없습니다.
					</condition>
				</div>
            </div>
		</div>
	</div>
</div>
<div class="morningsong" id="tomorrow">
	<div class="morningsong-container">
		<div class="morningsong-container-title">
			<span id="tomorrow-date">{$tomorrowDate}</span><span class="hot-pink">내일의 기상송</span>
			<input type="button" id="tomorrow-download-all-button"/>
		</div>
		<div class="song">
			<div class="main-building">
				<div class="building">본관</div>
				<button id="play-button-2" class="play-btn" onclick="togglePlayMusic(2)"><span class="hidden">재생</span></button>
				<div id="tomorrow-main-building-song">
					<condition do="$tomorrowSong_bon">
						{$tomorrowSong_bon->song_name}
					<else>	
						선정된 곡이 없습니다.
					</condition>
				</div>

				<condition do="$tomorrowSong_bon">
					<form action="{getUrl('morningsong', 'procCancelSelectedSong')}" method="POST">
						<input type="hidden" name="dormitory_type" value="">
						<button class="cancel-selecting-btn" onclick="cancelSelectedSong(1, this.form); return false;"><span class="hidden">철회</span></button>
					</form>
				</condition>
			</div>
			<div class="sub-building">
				<div class="building">학봉관</div>
				<button id="play-button-3" class="play-btn" onclick="togglePlayMusic(3)"><span class="hidden">재생</span></button>
				<div id="tomorrow-sub-building-song">
					<condition do="$tomorrowSong_hak">
						{$tomorrowSong_hak->song_name}
					<else>	
						선정된 곡이 없습니다.
					</condition>
				</div>

				<condition do="$tomorrowSong_hak">
					<form action="{getUrl('morningsong', 'procCancelSelectedSong')}" method="POST">
						<input type="hidden" name="dormitory_type" value="">
						<button class="cancel-selecting-btn"  onclick="cancelSelectedSong(2, this.form); return false;"><span class="hidden">철회</span></button>
					</form>
				</condition>
			</div>
		</div>
	</div>
</div>

<div id="middle-container">
	<div id="history-title">
		<span id="morningsong">기상송</span><span id="request-history">신청 내역</span>
		<span id="history-explain">
			최근 1주일간의 기상송 신청 내역입니다.<br/>기상송으로 선정된 곡은 '지난 기상송 보기'에서 확인할 수 있습니다.
		</span>
	</div>
	<div id="history-list">
		<dl>
			<dt>
				<ul id="first-line">
					<li id="song-title">곡명</li>
					<li id="song-applicant">신청자</li>
					<li id="song-request-date">신청일</li>
					<li id="recommends">추천수</li>
					<li id="recommend-delete">기상송 선정</li>
				</ul>
			</dt>
			<dd id="scroll-box">
				{@ $i=4; foreach($songLists as $key => $song) : }
					<ul>
						<input type="checkbox" class="check-box">
						<button id="play-button-{$i}"  class="history-list-button" onclick="togglePlayMusic({$i})"><span class="hidden">재생</span></button>
						<li class="song-title">{$song->song_name}</li>
						<li class="song-applicant">{$song->user_name}</li>
						<li class="song-request-date">{getRelativeTime($song->upload_time)}</li>
						<li class="recommends">{$song->recommend_count}</li>
						<li class="select">
							<form action="{getUrl('morningsong', 'procSelectSong')}" method="POST">
								<input type="hidden" name="dormitory_type" value="">
								<input type="hidden" name="song_id" value="">
								<button class="recommend-button" onclick="confirmSelectSong({$song->id}, this.form); return false;"><span class="hidden">선정</span></button>
							</form>
						</li>
					</ul>
				{@ $i++; endforeach; }
			</dd>
		</dl>
	</div>
</div>