<import path="/static/css/popup.css">
<import path="css/morning_song.css">

<import path="/static/js/popup.js">
<import path="/static/js/jQuery.js">
<import path="js/morning_song_play.js">
<import path="js/morning_song_request.js">

<div id="today-morningsong">
	<div id="prev-button" onclick="viewPrevSong()">
		<span class="hidden">&lt;</span>
	</div>
	<div id="today">
		<div id="today-title">
			<span id="date">{$selectedDate}</span><span id="hot-pink">오늘의&nbsp;기상송</span>
		</div>
		<div id="tip">매일 오전 7시에 업데이트됩니다.</div>
		<div id="song">
			<div class="building">
				<div class="building-name">본관</div>
				<button id="play-button-0" class="play-btn" onclick="togglePlayMusic(0)">
					<span class="hidden">재생</span>
				</button>
				<div id="main-building-song">
					<condition do="$selectedSong_bon">
						{$selectedSong_bon->song_name}
					<else>	
						선정된 곡이 없습니다.
					</condition>
				</div>
			</div>
			<div class="building">
				<div class="building-name">학봉관</div>
				<button id="play-button-1" class="play-btn" onclick="togglePlayMusic(1)">
					<span class="hidden">재생</span>
				</button>
				<div id="sub-building-song">
					<condition do="$selectedSong_hak">
						{$selectedSong_hak->song_name}
					<else>	
						선정된 곡이 없습니다.
					</condition>
				</div>
			</div>
		</div>
	</div>
	<div id="next-button"  onclick="viewNextSong()">
		<span class="hidden">&gt;</span>
	</div>
</div>
<div id="middle-container">
	<div id="history-title">
		<span id="morningsong">기상송</span><span id="request-history">신청 내역</span>
		<span id="history-explain">
			최근 1주일간의 기상송 신청 내역입니다.<br/>기상송으로 선정된 곡은 '지난 기상송 보기'에서 확인할 수 있습니다.
		</span>
		<button id="request-morningsong-button" onclick="openUploadPopup(); return false">
			<span class="hidden">기상송 신청하기</span>
		</button>
	</div>
	<div id="history-list">
		<dl>
			<dt>
				<ul id="first-line">
					<li id="song-title">곡명</li>
					<li id="song-applicant">신청자</li>
					<li id="song-request-date">신청시간</li>
					<li id="favorite-count">추천수</li>
					<li id="recommend-btns">추천/삭제</li>
				</ul>
			</dt>
			<dd id="scroll-box">
				<condition do="$songLists">
					<true>
						{@ $i=2; foreach($songLists as $key => $song) : }
							<ul>
								<button id="play-button-{$i}" class="history-list-button" onclick="togglePlayMusic({$i})"><span class="hidden">재생</span></button>
								<li class="song-title">{htmlspecialchars($song->song_name)}</li>
								<li class="song-applicant">{$song->user_name}</li>
								<li class="song-request-date">{getRelativeTime($song->upload_time)}</li>
								<li class="favorite-count">{$song->recommend_count}</li>
								<li class="recommend-btns">
									<condition do="$song->uploader_id != User::getCurrent()->id">
										<condition do="$song->is_recommended">
											<true>
												<form action="{getUrl('morningSong', 'procCancelRecommend')}" method="POST">
													<input type="hidden" name="song_id" value="{$song->id}">
													<button class="recommend-cancel-button" onclick="this.form.submit();">
														<span class="n-hidden">추천취소</span>
													</button>
												</form>
											</true>
											<false>
												<form action="{getUrl('morningSong', 'procRecommend')}" method="POST">
													<input type="hidden" name="song_id" value="{$song->id}">
													<button class="recommend-button" onclick="this.form.submit();">
														<span class="hidden">추천</span>
													</button>
												</form>
											</false>
										</condition>
									</condition>

									<condition do="$song->uploader_id == User::getCurrent()->id">
										<form action="{getUrl('morningSong', 'procDeleteSong')}" method="POST">
											<input type="hidden" name="song_id" value="{$song->id}">
											<button class="delete-button" onclick="if (confirm('정말 삭제하시겠습니까?')) this.form.submit(); return false;">
												<span class="hidden">삭제</span>
											</button>
										</form>
									</condition>
								</li>
							</ul>
						{@ $i++; endforeach; }
						</true>
					<false>
						<div id="no-song">
							신청된 기상송이 없습니다
						</div>
					</false>
				</condition>
			</dd>
		</dl>
	</div>
</div>