#side-menu #side-menu-top{ background-image: url(../img/dormitory/lnb_top.png) }

#side-menu ul li{ background-image: url(../img/dormitory/lnb_menu.png) }

#side-menu ul li.lnb-dormitory-notice{ background-position: 0 0 }
#side-menu ul li.lnb-dormitory-notice:hover{ background-position: -249px 0 }
#side-menu ul li.lnb-dormitory-notice.selected{ background-position: -498px 0 }

#side-menu ul li.lnb-stay-request{ background-position: 0 -45px }
#side-menu ul li.lnb-stay-request:hover{ background-position: -249px -45px }
#side-menu ul li.lnb-stay-request.selected{ background-position: -498px -45px }

#side-menu ul li.lnb-stay-inquiry{ background-position: 0 -90px }
#side-menu ul li.lnb-stay-inquiry:hover{ background-position: -249px -90px }
#side-menu ul li.lnb-stay-inquiry.selected{ background-position: -498px -90px }

#side-menu ul li.lnb-stay-manage{ background-position: 0 -135px }
#side-menu ul li.lnb-stay-manage:hover{ background-position: -249px -135px }
#side-menu ul li.lnb-stay-manage.selected{ background-position: -498px -135px }

#side-menu ul li.lnb-morning-song{ background-position: 0 -180px }
#side-menu ul li.lnb-morning-song:hover{ background-position: -249px -180px }
#side-menu ul li.lnb-morning-song.selected{ background-position: -498px -180px }

#side-menu ul li.lnb-morning-song-manage{ background-position: 0 -225px }
#side-menu ul li.lnb-morning-song-manage:hover{ background-position: -249px -225px }
#side-menu ul li.lnb-morning-song-manage.selected{ background-position: -498px -225px }

#content-header #content-title{ background-image: url(../img/dormitory/titles.png); background-repeat: no-repeat; }
#content-header #content-title h1{ visibility: hidden; }

#content-header #content-title.dormitory-notice{ height: 23px; background-position: 0px 0px }
#content-header #content-title.stay-request{ height: 24px; background-position: 0px -23px }
#content-header #content-title.stay-inquiry{ height: 22px; background-position: 0px -47px }
#content-header #content-title.stay-manage{ height: 22px; background-position: 0px -69px }
#content-header #content-title.morning-song{ height: 23px; background-position: 0px -91px }
#content-header #content-title.morning-song-manage{ height: 23px; background-position: 0px -114px }

