<import path="css/stayManage2.css">
<import path="css/stayManageGlobal.css">
<import path="css/default.css">
<import path="/static/css/popup.css">
    
<import path="/static/js/jQuery.js">
<import path="/static/js/popup.js">
<import path="js/stayManageSetting.js">

<div id="main-content-header">
	<div id="main-content-title">잔류관리</div>
	<div id="main-content-header-sidetools">
		<!--<button id="tool-stay-library">도서관 고정 좌석 설정</button>-->
	</div>
</div>
{getContent('dateSelector', 'dispDateSelector', array('recentStayDates' => $recentStayDates, 'showPast' => true, 'isTeacher' => true))}	
<div id="main-content-progress">
</div>
<form name="stay_manage_data" action="{getURL('stay', 'procUpdateStayInfo')}" method="post">
    <div id="stay-manage">
    	<input name="date" style="display:none" value="{$selectedDate}" />
        <div id="stay-manage-title"><div class="balloon"><div class="balloon-set-name-abled"></div></div>잔류 제목 설정 : <input id="stay-manage-title-text" name="stay_title" type="text" value="{$stayInfo['stay_title']}" maxlength="8"> <span id="stay-manage-title-tip">잔류 제목은 4~5자 정도가 적당합니다. (최대 8자)</span>
	          </div>
        <div id="stay-manage-deadline">
        	<div class="balloon"><div class="balloon-set-deadline-abled"></div></div>
            <div id="stay-manage-deadline-left">잔류 신청 마감일 설정</div>
            <div id="stay-manage-deadline-mid">
            {getContent('calendar', 'dispCalendar')}
            <ul>
                <li>
                	{@ 
                        $deadline=getDeadline(1);
                        $deadlineDate = getDeadlineStr(strtotime($deadline));                  
                    }
                    <div>1학년: <input id="stay-manage-deadline-grade-1" name="stay_deadlines_grade1" class="stay-manage-deadline-date" type="text" value="{$deadlineDate}"{printIF(!isset($deadlineDate), 'disalbed="disalbed"')} /></div>
                    <div class="stay-manage-deadline-calendar" onclick="showCalendar(this, 1);"></div>
                    <div class="stay-manage-deadline-time">
                        <input id="stay-manage-deadline-time1_hour" name="stay_deadlines_time1_hour" class="stay-manage-deadline-time-hour" type="text" value="{getDeadlineHour($deadline)}" maxlength="2"{printIF(!isset($deadlineDate), 'disalbed="disalbed"')} />시
                        <input id="stay-manage-deadline-time1_min" name="stay_deadlines_time1_min" class="stay-manage-deadline-time-min" type="text" value="{getDeadlineMin($deadline)}" maxlength="2"{printIF(!isset($deadlineDate), 'disalbed="disalbed"')} />분
                    </div>
                    <div class="stay-manage-deadline-erase" onclick="clearDeadline(1)"></div>
                </li>
                <li>
                    {@ 
                        $deadline=getDeadline(2);
                        $deadlineDate = getDeadlineStr(strtotime($deadline));                  
                    }
                    <div>2학년: <input id="stay-manage-deadline-grade-2" name="stay_deadlines_grade2" class="stay-manage-deadline-date" type="text" value="{$deadlineDate}"{printIF(!isset($deadlineDate), 'disalbed="disalbed"')} /></div>
                    <div class="stay-manage-deadline-calendar" onclick="showCalendar(this, 2);"></div>
                    <div class="stay-manage-deadline-time">
                        <input id="stay-manage-deadline-time2_hour" name="stay_deadlines_time2_hour" class="stay-manage-deadline-time-hour" type="text" value="{getDeadlineHour($deadline)}" maxlength="2"{printIF(!isset($deadlineDate), 'disalbed="disalbed"')} />시
                        <input id="stay-manage-deadline-time2_min" name="stay_deadlines_time2_min" class="stay-manage-deadline-time-min" type="text" value="{getDeadlineMin($deadline)}" maxlength="2"{printIF(!isset($deadlineDate), 'disalbed="disalbed"')} />분
                    </div>
                    <div class="stay-manage-deadline-erase" onclick="clearDeadline(2)"></div>
                </li>
                <li>
                    {@ 
                        $deadline=getDeadline(3);
                        $deadlineDate = getDeadlineStr(strtotime($deadline));                  
                    }
                    <div>3학년: <input id="stay-manage-deadline-grade-3" name="stay_deadlines_grade3" class="stay-manage-deadline-date" type="text" value="{$deadlineDate}"{printIF(!isset($deadlineDate), 'disalbed="disalbed"')} /></div>
                    <div class="stay-manage-deadline-calendar" onclick="showCalendar(this, 3);"></div>
                    <div class="stay-manage-deadline-time">
                        <input id="stay-manage-deadline-time3_hour" name="stay_deadlines_time3_hour" class="stay-manage-deadline-time-hour" type="text" value="{getDeadlineHour($deadline)}" maxlength="2"{printIF(!isset($deadlineDate), 'disalbed="disalbed"')} />시
                        <input id="stay-manage-deadline-time3_min" name="stay_deadlines_time3_min" class="stay-manage-deadline-time-min" type="text" value="{getDeadlineMin($deadline)}" maxlength="2"{printIF(!isset($deadlineDate), 'disalbed="disalbed"')} />분
                    </div>
                    <div class="stay-manage-deadline-erase" onclick="clearDeadline(3)"></div>
                </li>
            </ul>
            </div>
            <div id="stay-manage-deadline-right">
            가장 마지막 잔류 신청 마감일을 기준으로 '잔류 신청 내역 점검' 단계로 넘어갑니다. 특정 학년의 마감일을 설정하지 않으면 해당 학년의 잔류 신청이 제한됩니다.
            </div>
        </div>
        <div id="stay-manage-meal" class="stay-manage-disabled">
            <div class="balloon"><div class="balloon-set-deadline-disabled"></div></div>
            <ul>
                <li>
                    <span>조식 급식 신청&nbsp;</span>
                    <select id="allowlevel_breakfast" disabled>
                        <option>{getMealAllowLevel($stayInfo->allowlevel_breakfast)}</option>
                    </select>
                </li>
                <li>
                    <span>중식 급식 신청&nbsp;</span>
                    <select id="allowlevel_lunch" disabled>
                        <option>{getMealAllowLevel($stayInfo->allowlevel_lunch)}</option>
                    </select>
                </li>
                <li>
                    <span>석식 급식 신청&nbsp;</span>
                    <select id="allowlevel_dinner" disabled>
                    	<option>{getMealAllowLevel($stayInfo->allowlevel_dinner)}</option>
                    </select>
                </li>
                <li id="stay-manage-meal-forhelp">
                    <span>간식 급식 신청&nbsp;</span>
                    <select id="allowlevel_snack" disabled>
                    	<option>{getMealAllowLevel($stayInfo->allowlevel_snack)}</option>
                    </select>
                </li>
                <li><button id="auto-form-help" onclick="return false" onmouseover="showAutoFormHelp()" onmouseout="hideAutoFormHelp()"></button></li>
                <div id="auto-form-popup">
                      <div id="auto-form-popup-top">
                          <div id="auto-form-popup-top-balloon"></div>
                      </div>
                      <div id="auto-form-popup-content">
                          <div id="auto-form-popup-title">급식 설정</div>
                          <div id="auto-form-popup-article">
                              <div class="auto-form-popup-article-title">급식 신청 가능 여부와 필수 신청 여부를 선택할 수 있습니다.</div>
                              <div class="auto-form-popup-article-text"><font color="#d8006c">필수</font>&nbsp;&nbsp;잔류 신청 시 식사를 반드시 신청해야 합니다. (자동 신청)</div>
                              <div class="auto-form-popup-article-text"><font color="#d8006c">자율</font>&nbsp;&nbsp;본인의 의사에 따라 식사 여부를 선택할 수 있습니다.</div>
                              <div class="auto-form-popup-article-text"><font color="#d8006c">불가</font>&nbsp;&nbsp;급식을 하지 않아 신청을 할 수 없습니다.</div>
                          </div>
                      </div>
				</div>
            </ul>
        </div>
        <div id="stay-manage-goingout">
        <div class="balloon"><div class="balloon-set-goingout-disabled"></div></div>
            <input type="checkbox" disabled="disabled"{printIF($stayInfo->allow_goingout, ' checked="checked"')} value="1" name="allow_goingout">
			<span class="stay-manage-disabled">&nbsp;외출을 허용합니다.&nbsp;</span>
			<span{printIF(!$stayInfo->allow_goingout, ' class="stay-manage-disabled"')}>
				(외출 가능 시간:
                        <input name="goingout_start_time_hour" type="text" disabled="disabled" class="stay-manage-goingout-time disabled" value="{printIF(isset($stayInfo->goingout_start_time), date('H', strtotime($stayInfo->goingout_start_time)))}" maxlength="2">시
                        <input name="goingout_start_time_min" type="text" disabled="disabled" class="stay-manage-goingout-time disabled" value="{printIF(isset($stayInfo->goingout_start_time), date('i', strtotime($stayInfo->goingout_start_time)))}" maxlength="2">분부터
                        <input name="goingout_end_time_hour" type="text" disabled="disabled" class="stay-manage-goingout-time disabled" value="{printIF(isset($stayInfo->goingout_end_time), date('H', strtotime($stayInfo->goingout_end_time)))}" maxlength="2">시
                        <input name="goingout_end_time_min" type="text" disabled="disabled" class="stay-manage-goingout-time disabled" value="{printIF(isset($stayInfo->goingout_end_time), date('i', strtotime($stayInfo->goingout_end_time)))}" maxlength="2">분까지)
			</span>
	    </div>
        <div id="stay-manage-sleep" class="stay-manage-disabled">
        	<div class="balloon"><div class="balloon-set-sleep-disabled"></div></div>
            <input type="checkbox" disabled="disabled"{printIF($stayInfo->allow_sleep, ' checked="checked"', '')} name="allow_sleep">&nbsp;기숙사 숙박 신청을 허용합니다.
        </div>
        <div id="stay-manage-popup">
        	<div class="balloon"><div class="balloon-set-popup-abled"></div></div>
            <div id="stay-manage-popup-left">
                <textarea rows="4" cols="44" name="popup_notice_text"{printIF($stayInfo->popup_notice, '>'.$stayInfo->popup_notice, ' disabled="disabled">')}</textarea>
            </div>
            <div id="stay-manage-popup-right">
                <dl>
                    <dt>
                        <input type="checkbox" name="popup_notice_check"{printIF($stayInfo->popup_notice, ' checked="checked"', '')}>&nbsp;팝업 공지를 표시합니다.
                    </dt>
                    <dd>- 잔류 신청 화면에서 이 날짜를 선택하면 표시되는 팝업 공지입니다.</dd>
                    <dd>&nbsp;&nbsp;중요한 내용을 공지해야 할 때 사용하시기 바랍니다.</dd>
                    <dd>- [bold]와 [/bold]로 내용을 감싸주시면 강조 처리되어 표시됩니다.</dd>
                </dl>
            </div>
        </div>
        <div id="stay-manage-temp-end">
        	<div class="balloon"><div class="balloon-temp-end-abled"></div></div>
            <input type="checkbox" name="temp_disabled" value="1"{printIF($stayInfo['temp_disabled'], ' checked="checked"', '')}>&nbsp;잔류 신청을 임시 마감합니다. <span id="stay-manage-temp-end-tip">이 항목을 체크하면 잔류 신청 접수를 잠시 중단할 수 있습니다.</span>
        </div>
        <div id="stay-manage-btn">
        	<input type="button" id="stay-manage-btn-del-setting" value="" onclick="deleteStayInfo()" />
        	<input type="button" id="stay-manage-btn-save-changes" class="stay-manage-btn-save-changes-disable" value="" disabled="disabled" onclick="updateStayInfo()"/>
        	<input type="button" id="stay-manage-btn-finish-now" value="" onclick="closeStayInfo()" />
        </div>
    </div>
</form>