<import path="css/stayManageGlobal.css">
<import path="css/default.css">
<div id="main-content-header">
	<div id="main-content-title">잔류관리</div>
	<div id="main-content-header-sidetools">
		<button id="tool-stay-library">도서관 고정 좌석 설정</button>
	</div>
</div>
{getContent('dateSelector', 'dispDateSelector', array('recentStayDates' => $recentStayDates, 'showPast' => true, 'isTeacher' => true))}
<div id="main-content-guide" style="font-size:14px; color: #777777; text-align:center;padding:220px 0 0 0">
	날짜를 선택해 주세요.
</div>