<import path="css/login_form.css">
<import path="/static/js/encryption/rsa.js">
<import path="/static/js/encryption/md5.js">
<import path="js/login.js">
<script type="text/javascript">
	var rsaKeys = {
		publicKey:"{$rsaKeys->publicKey}",
		modulus:"{$rsaKeys->modulus}"
	}
</script>


<div id="login-wrap">
	<form name="login_form" method="post" action="/?module=login&action=procSecureLogin" onsubmit="return procLogin()">
		<input type="hidden" name="enc_id">
		<input type="hidden" name="enc_pw">
		<input type="hidden" name="check_sum">
		<input type="hidden" name="next" value="{$next}">
		
		<condition do="$errorType">
			<div id="error-message">
				<condition do="$errorType == 'fail'">
					<div class="bold">올바르지 않은 아이디 또는 비밀번호입니다.</div>
					<div>등록되지 않은 아이디이거나, 아이디 또는 비밀번호를 잘못 입력하셨습니다.</div>
				</condition>
				<condition do="$errorType == 'fail_sec'">
					<div class="bold">보안로그인에 오류가 발생했습니다.</div>
					<div>자주 이 메시지가 발생하는 경우에는 "보안로그인"을 해제 한 후 로그인 해 주십시오.</div>
				</condition>
			</div>
		</condition>

		<div id="login-title">
			<img src="./img/login_title.png" width="198" height="66" alt="로그인">
		</div>
		<div id="login-description">
			<img src="./img/login_description.png" width="507" height="39" alt="로그인">
		</div>
		<div id="login-contents" class="clearfix">
			<div class="fl">
				<div id="input-wrap" class="clearfix">
					<div class="input-warp-content fl">
						<condition targetie="lte IE 9">
							<span class="ie-alternative-label">아이디</span>
						</condition>
						<input name="id" type="text" placeholder="아이디">
					</div>
					<div class="input-warp-content fl">
						<condition targetie="lte IE 9">
							<span class="ie-alternative-label">비밀번호</span>
						</condition>
						<input name="pw" type="password" placeholder="비밀번호">
					</div>
				</div>
				<div id="checkbox-wrap" class="cleafix">
					<div class="fl">
						<input type="checkbox" name="auto_login" checked="checked">
						<label for="auto_login">로그인 상태 유지</label>
						
						<input type="checkbox" name="secure_login" onclick="toggleSecureLogin(this)">
						<label for="secure_login">보안 로그인</label>
					</div>
					<div class="fr" class="clearfix">
						<div class="fl">아이디/비밀번호 찾기</div>
						<div class="fl login-bar">|</div>
						<div class="fl">회원가입</div>
					</div>
				</div>
			</div>
			<div id="submit-wrap" class="fr">
				<button onclick="return procLogin()">
					<span class="hidden">
						로그인
					</span>
				</button>
			</div>
		</div>
		<div id="redirect-home">
			<p>본교 재학생이 아니신가요?</p>
			<a href="http://dimigo.hs.kr">본교 홈페이지 바로가기</a>
		</div>
	</form>
	*개발팀 임시 아이디/비밀번호 :<br>
	학생 계정 : tester_s(1-1), tester_s2(2-1)<br>
	교사 계정 : tester_t(2-4 담임), tester_t2(생활관 부장), tester_t3(교장)<br>
	학부모 계정 : tester_p<br>
	<br>
	일괄 비밀번호 : 1234 
</div>