<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

	<title>Find ID</title>

</head>

<import path="css/findID_entire.css">

<body>
	<div id="container">
		<div id="title"></div>
		<div id="main-box">
			<div id="contents">
				이메일로 전체 아이디를 발송하였습니다.
			</div>
			<div id="tip">
				&#183 스팸 메일함을 확인해 보세요.<br/>
				&#183 이메일이 도착하지 않은 경우, IT특성화부로 문의해 주시기 바랍니다.
			</div>
			<div id="btn-box">
				<input type="button" id="retry-btn"/>
				<input type="button" id="signup-btn"/>
			</div>
		</div>
	</div>
</body>
</html>