<!doctype html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title>이메일</title>
</head>

<body style="font-family:나눔고딕,NanumGothic,돋움,Dotum,sans-serif; font-size:13px;">
	<div style="width:700px;">
		<div style="border-bottom:#5B5B5B 3px solid;">
			<img width="174px" height="26px" style="margin-bottom:8px;" src="http://account.dimigo.hs.kr/signup/static.img/mail/logo.png"/>
		</div>
	<div style="padding:42px 0px; border-bottom:#5B5B5B 3px solid;">
	<div style="border-bottom:#C4C4C4 1px solid; padding-bottom:42px; margin-bottom:36px;">
	<div style="float:left; margin-top:24px; width:391px;">
	<img width="364px" height="99px" style="margin-bottom:20px;" src="css/img/title.png"/>
	</div>
	<img width="143px" height="170px" style="float:right;" src="http://account.dimigo.hs.kr/signup/static.img/mail/character.png"/>
	<div style="clear:both"></div>
	</div>
	<div id="mid-link">
	<div style="margin-bottom:16px;">
	<b>아래 링크를 클릭하시면 비밀번호를 재설정하실 수 있습니다.</b><br />
	링크를 클릭할 수 없으면 URL 전체를 복사해서 주소창에 붙여넣어 주시기 바랍니다.
	</div>
	<div style="border:#AAAAAA 1px solid; padding:16px; margin-bottom:24px; background:#EEEEEE;">
	<ul style="list-style:none; margin:0px; padding:0px;">
	<li style="margin:0px 0px 5px 0px; padding:0px;">· 아이디 : yslee96</li>
	<li style="margin:0px 0px 5px 0px; padding:0px;">· 소속 : 2학년 4반 27번</li>
	<li>· 가입 승인 기간 : 2013년 3년 4일 23:00까지</li>
	</ul>
	</div>
	<div id="mid-link-text">
	<div style="float:left; margin-right:4px;">회원 가입 승인 링크 ▶</div>
	<div style="float:left; max-width:572px; font-weight:bold; color:#EC137F; margin-bottom:24px;">
	<a href="'.$verifyMailLink.'">회원가입링크</a>
	</div>
	<div style="clear:both"></div>
	본인이 요청하지 않았는데 이 메일을 수신한 경우 이 이메일을 무시하시면 됩니다.<br/>
	링크 유효 기간이 지나면 위 링크는 무효과 됩니다.
	</div>
	</div>
	</div>
	<div style="margin-top:16px; text-align:center;">
	<div id="bottom-forsend">
	본 메일은 발신전용입니다. 궁금하신 사항은 한국디지털미디어고등학교 IT 특성화부에 문의해주세요.
	</div>
	<div style="color:#878787;">
	Copyright &copy; Korea Digital Media High School. All rights reserved.
	</div>
	</div>
	</div>
</body>
</html>