#login-wrap{
	width:517px;
	margin:100px auto;
	font-size: 13px;
	font-weight: bold;
}
#login-wrap #login-title{ font-size:24px; margin-bottom:0px; }
#login-wrap #login-description{ margin: 20px 0 }
#login-wrap #input-wrap .input-wrap-content{ margin-bottom: 5px; }
#login-wrap #input-wrap .input-wrap-password{ position: relative; }
#login-wrap #input-wrap .input-wrap-password #capslock-alert{
	position: absolute;
	width: 197px;
	margin: 3px 1px 0 1px;
	visibility: hidden;
}

#login-wrap #input-wrap .input-wrap-password #capslock-alert #capslock-top{
	position: absolute;
	width: 100%;
	height: 7px;
	background-image: url(../img/capslock_top.png);
	background-repeat: no-repeat;
	background-position: center top;
}

#login-wrap #input-wrap .input-wrap-password #capslock-alert #capslock-description{
	margin-top: 6px;
	padding: 3px 0;
	background-color: #fffabf;
	text-align: center;
	border: 1px solid #aaaaaa;
	color: #3a3a3a;
}

#login-wrap #input-wrap .input-wrap-content .ie-alternative-label{
	font-size: 12px;
	color: #666;
	*zoom:1;
	padding-left: 1px;
}
#login-wrap #input-wrap label{
	display: block;
	color:#666;
	font-size: 15px;
	margin-bottom: 3px;
}
#login-wrap #input-wrap input{
	width: 170px;
	font-size: 14px;
	padding: 7px 12px;
	background: #fff;
	border: 1px solid #d9d9d9;
	border-top: 1px solid #c0c0c0;
	border-radius: 3px;
	box-shadow: inset 0 1px 2px rgba(0,0,0,0.1);
}
#login-wrap #input-wrap input:hover{
	border: 1px solid #b9b9b9;
	border-top: 1px solid #a0a0a0;
	box-shadow: inset 0 1px 2px rgba(0,0,0,0.2);
}
#login-wrap #input-wrap input:focus {
	outline: none;
	border: 1px solid #999;
	box-shadow: inset 0 1px 2px rgba(0,0,0,0.3);
}
#login-wrap #input-wrap input:disabled {
	background: #F3F3F3 !important;
	border-color: #CCC !important;
	box-shadow: inset 0 1px 2px rgba(0,0,0,0.1) !important;;
}

#login-wrap #checkbox-wrap{ margin: 5px 0 0 2px; width: 397px; }
#login-wrap #checkbox-wrap label{ margin-right: 8px }
#login-wrap #checkbox-wrap label span{ margin-left: 2px; }
#login-wrap #checkbox-wrap label input{ margin: 0 1px }
#login-wrap #checkbox-wrap .login-bar{ padding: 0px 5px; color:#666; }
#login-wrap #checkbox-wrap a{ color: black; text-decoration: none; }

#login-wrap #submit-wrap button{
	background: url(../img/login_btn.png) no-repeat;
	border: 0;
	cursor: pointer;
	width: 100px;
	height: 60px;
	font-size: 0px;
	margin-left: 10px;
}

#redirect-home{
	text-align: center;
	font-weight: normal;
	margin: 50px 0;
	font-size: 14px;
	color: #838383;
}
#redirect-home p {
	display: inline-block;
	margin-right: 20px;
	*zoom: 1;
}
#redirect-home a{ color:#838383 }


#error-message{
	width:500px;
	margin:30px 0;
	padding:11px;
	border:1px solid #ffbee5;
	border-radius: 3px;
	background-color:#ffe0f2;
}