<!doctype html>
<html>
	<head>
		<title>이메일</title>
	</head>
	
	<body style="font-family:나눔고딕,NanumGothic,돋움,Dotum,sans-serif; font-size:13px;">
		<div style="width:700px;">
			<div style="border-bottom:#5B5B5B 3px solid;">
				<img width="174px" height="26px" style="margin-bottom:8px;" src="http://account.dimigo.hs.kr/signup/static.img/mail/logo.png"/>
			</div>
			<div style="padding:42px 0px; border-bottom:#5B5B5B 3px solid;">
				<div style="border-bottom:#C4C4C4 1px solid; padding-bottom:42px; margin-bottom:36px;">
					<div style="float:left; margin-top:24px; width:391px;">
						<img width="364px" height="68px" style="margin-bottom:20px;" src="http://account.dimigo.hs.kr/signup/static.img/mail/title.png"/>
						<img width="391px" height="31px" src="http://account.dimigo.hs.kr/signup/static.img/mail/title_sub.png"/>
					</div>
					<img width="143px" height="170px" style="float:right;" src="http://account.dimigo.hs.kr/signup/static.img/mail/character.png"/>
					<div style="clear:both"></div>
				</div>
				<div id="mid-link">
					<div style="margin-bottom:16px;">
						<b>아래 내용으로 회원 가입을 신청하셨습니다. 신청 내용을 확인한 후 아래 링크를 클릭하시면 회원 가입이 완료됩니다.</b><br />
						링크를 클릭할 수 없으면 URL 전체를 복사해서 주소창에 붙여넣어 주시기 바랍니다.
					</div>
					<div style="border:#AAAAAA 1px solid; padding:16px; margin-bottom:24px; background:#EEEEEE;">
						<ul style="list-style:none; margin:0px; padding:0px;">
							<li style="margin:0px 0px 5px 0px; padding:0px;">· 아이디 : {$joinData->input_id}</li>
							<li style="margin:0px 0px 5px 0px; padding:0px;">· 자녀 소속 : {$joinData->grade}학년 {$joinData->class}반 {$joinData->number}번</li>
							<li style="margin:0px 0px 5px 0px; padding:0px;">· 가입 승인 기간 : {date('Y년 m월 d일 H:i', $expireTime)}까지</li>
						</ul>
					</div>
					<div id="mid-link-text">
						<div style="float:left; margin-right:4px;">회원 가입 승인 링크 ▶</div>
						<div style="float:left; max-width:572px; font-weight:bold; color:#EC137F; margin-bottom:24px;">
							<a href="{$verifyMailLink}">{$verifyMailLink}</a>
						</div>
						<div style="clear:both"></div>가입 승인 기간 안에 위 링크를 클릭해 인증을 완료하지 않으면, 회원가입이 취소됩니다.
					</div>
				</div>
			</div>
			<div style="margin-top:16px; text-align:center;">
				<div id="bottom-forsend">
					본 메일은 발신전용입니다. 궁금하신 사항은 한국디지털미디어고등학교 IT 특성화부에 문의해주세요.
				</div>
				<div style="color:#878787;">
					Copyright &copy; <span style="font-weight:bold; color:#575757;">Korea Digital Media High School.</span> All rights reserved.
				</div>
			</div>
		</div>
	</body>
</html>