<import path="./css/step4.css">

{getContent('signup', 'dispMainProgress')}

<div id="main-title">
	<img src="./img/step4/title.png" width="80" height="17" alt="이메일 인증">
</div>
<div id="main-subtitle">
	<img src="./img/step4/title_description.png" width="271" height="12" alt="입력하신 이메일 주소로 가입 인증 이메일이 발송되었습니다.">
</div>
<div id="main-email">
	<div id="main-email-image"></div>
	<div id="main-email-text">
		<div id="main-email-text-title"></div>
		<div id="main-email-text-notice">입력하신 이메일 <span id="main-email-text-address">{$_REQUEST['email']}</span>(으)로 인증 메일을 발송했습니다.<br />3시간 이내에 이메일의 링크를 클릭하여 인증해 주시기 바랍니다.</div>
		<div id="main-email-text-tip">
			<ul>
				<!--<li>가입 승인 메일을 받지 못하셨나요? <button id="main-email-text-tip-btn"></button></li>-->
				<li>메일이 스팸으로 처리되었을 수 있습니다. 스팸 메일함을 확인해 보세요.</li>
				<li>이메일을 잘못 입력했거나 다시 보내야 하는 경우, 회원가입을 처음부터 다시 진행해 주세요.</li>
				<li>계속해서 이메일이 도착하지 않으면 IT 특성화부로 문의해 주세요.</li>
			</ul>
		</div>
	</div>
</div>