<import path="./css/step5.css">

{getContent('signup', 'dispMainProgress')}

<div id="main-title">
	<img src="./img/step5/title.png" width="95" height="17" alt="회원가입 완료">
</div>
<div id="main-subtitle">
	<img src="./img/step5/title_description.png" width="125" height="12" alt="회원가입이 완료되었습니다">
</div>
<div id="main-success">
	<div id="main-success-title"></div>
	<div id="main-success-right-box">
		<div id="main-success-subtitle"></div>
		<div id="main-success-text"><span>한국디지털미디어고등학교 통합 멤버쉽의 회원이 되신 것을 환영합니다.</span><span>이제 다음 서비스들을 하나의 아이디로 이용하실 수 있습니다.</span></div>
		<ul id="main-success-list">
			<li><a href="https://intranet.dimigo.hs.kr" target="_blank">인트라넷</a></li>
			<li><a>웹하드</a></li>
			<li><a>푸시 알림 서비스</a></li>
			<li><a>방과후 수강 신청</a></li>
		</ul>
	</div>
</div>