@charset "utf-8";

#wrap{ width:670px; margin:25px auto }
#wrap #welcome{ text-align:center }
#wrap #welcome .welcome-title{ font-size:24px; margin:60px 0 20px 0; }
#wrap #welcome .welcome-describe{ line-height:1.2em; color:#333 }
#wrap #welcome .welcome-select-type-text{ margin-top:15px; font-weight:bold }

#wrap #type-selector{ margin:30px auto 50px auto; *zoom:1 }
#wrap #type-selector:after{ display:block; clear:both; content:"" }
#wrap #type-selector .type-box{ float:left; padding:0 10px; white-space:nowrap; overflow:hidden; position:relative; cursor:pointer }
#wrap #type-selector .type-box .type-box-text{ position:absolute; font-size:18px; font-weight:bold; }

#wrap #type-selector .type-box-border{ width:1px; height:200px; margin-top:40px; float:left; border-left:1px solid #DDD }

#wrap #type-selector .type-box .type-box-text{ opacity:0; filter:alpha(opacity=0); }
#wrap #type-selector .type-box #type-box-text1{ left:130px; top:70px; }
#wrap #type-selector .type-box #type-box-text2{ left:170px; top:90px; }
#wrap #type-selector .type-box #type-box-text3{ left:130px; top:150px; }