@charset "utf-8";

#main-progress { background-position:0px -36px; }

#main-auth-container { padding:15px; border:#E7E7E7 solid 5px; *zoom:1 }
#main-auth-container:after { content:""; display:block; clear:both; }

#main-auth-container #main-auth-container-left { float:left; width:260px; }
#main-auth-container #main-auth-container-left .main-auth-text { width:60px; display:inline-block; *zoom:1; }
#main-auth-container #main-auth-container-left select{ margin: 0 2px }

#main-auth-container #main-auth-container-left #main-auth-student-name { margin-bottom:8px; }
#main-auth-container #main-auth-container-left #main-auth-student-name input { width:100px; }
#main-auth-container #main-auth-container-left #main-auth-student-number,
#main-auth-container #main-auth-container-left #main-auth-teacher-department{ margin-bottom:8px; }
#main-auth-container #main-auth-container-left #main-auth-key input { width:170px; }

#main-auth-container #main-auth-container-right { width: 321px; float:left; border-left:1px solid #DDD; padding:0 16px; margin:6px 8px; font-size:12px; }
#main-auth-container #main-auth-container-right ul{ margin: 5px 0; }
#main-auth-container #main-auth-container-right div{ margin: 30px 0; }

#main-button-container { text-align:center; margin-top:20px; }
#main-button-container #main-button-container-ok { width:59px; height:30px; background:url(../img/main_buttons.png) 0 0; border:0; margin:0; padding:0; cursor:pointer; }