@charset "utf-8";

#main-progress { background-position:0px -144px; }

#main-title { font-size:18px; font-weight:bold; padding:3px; }
#main-subtitle { border-top:2px solid #CCC; font-size:12px; color:#999; padding:3px; margin-bottom:24px; }

#main-success-right-box{display:inline-block; margin:0 0 0 30px}
#main-success-title{width:196px; height:201px; display:inline-block; background:url(../img/step5/success_icon.png) 0 0 no-repeat;}
#main-success-subtitle{width:317px; height:65px; display:inline-block; background:url(../img/step5/success_contents_title.png) 0 0 no-repeat}
#main-success-text{margin:10px 0 0 0}
#main-success-text span{display:block;}
#main-success-list{list-style:disc; margin:10px 0 0 20px; padding: 0; color:#666; font-size:12px}

#main-success-list li{ margin:3px 0 }
#main-success-list li a:link    { text-decoration:none; color:#666; }
#main-success-list li a:visited { text-decoration:none; color:#666; }
#main-success-list li a:hover   { text-decoration:none; color:#666; }
#main-success-list li a:active  { text-decoration:none; color:#666; }