<import path="css/findID_main.css">
<import path="js/findMain.js">

	<div id="container">

		<div id="title"></div>

		<form action="{getUrl('idpwfind', 'dispIdResult')}" method="post">
			<div id="id-section">
				<div class="section-title-box">
					<div class="section-title">아이디 찾기</div>
					<div class="section-subtitle">아이디를 찾기 위해 아래 정보를 입력해 주세요.</div>
				</div>
				<div class="section-body">

					<div class="input-container">
						<input type="radio" name="selector" value="s" class="radio-button" onclick="selectorChecked(this)" id="left" checked="checked"/>학생
						<input type="radio" name="selector" value="p" class="radio-button" onclick="selectorChecked(this)"/>학부모
						<input type="radio" name="selector" value="t" class="radio-button" onclick="selectorChecked(this)"/>교사
					</div>
					<div class="input-container">
						<div class="input-title-s">이름</div>
						<input type="text" name="sname"/>
					</div>
					<div class="input-container">
						<div class="input-title-s">학번</div>
						<div id="input-number-container">
							<select name="sgrade" class="input-number">
								<option value="1">1학년</option>
								<option value="2">2학년</option>
								<option value="3">3학년</option>
							</select>
	
							<select name="sclass" class="input-number">
								<option value="1">1반</option>
								<option value="2">2반</option>
								<option value="3">3반</option>
							</select>
	
							<select name="snumber" class="input-number">
								{@ for($i=0; $i <50; $i++) :  }
									<option value="{$i+1}">{$i+1} 번</option>
								{@ endfor; }
							</select>
						</div>
						<div id="input-department-container">
							<select name="tdepartment" class="input-department">
								<option value="1">교무지원부</option>
								<option value="2">생활관교사</option>
								<option value="3">교장선생님</option>
							</select>
	
							<select name="tclass" class="input-department">
								<option value="1">부장</option>
								<option value="2">팀장</option>
								<option value="3">교장</option>
							</select>
						</div>
					</div>

				</div>
				<input type="submit" value="" ="" id="id-confirm-btn"/>
			</div>
		</form>

		<form action="{getUrl('idpwfind', 'dispPwMail')}" method="post">
			<div id="pw-section">
				<div class="section-title-box">
					<div class="section-title">비밀번호 재설정</div>
					<div class="section-subtitle">비밀번호 재설정을 위해 아래 정보를 입력해 주세요.<br/>이메일로 비밀번호 재설정을 위한 링크가 발송됩니다.</div>
				</div>
				<div class="section-body">
					<div class="input-container">
						<div class="input-title">이름</div>
						<input type="text" name = "sname" id="input-pw-name"/>
					</div>
					<div class="input-container">
						<div class="input-title">아이디</div>
						<input type="text" name = "sid" id="input-pw-id"/>
					</div>
					<div class="input-container">
						<div class="input-title">이메일</div>
						<input type="text" name = "semail" id="input-pw-email"/>
					</div>
				</div>

				<input type="submit" value="" id="pw-confirm-btn"/>
			</div>
		</form>
	</div>