<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<title>Untitled</title>
</head>

<import path="css/findPW_mail.css">

<body>
	<div id="container">
		<div id="title"></div>
		<div id="main-box">
			<div id="contents">
				<span id="send-mail">이메일로 비밀번호 재설정 매일이 발송되었습니다.</spang><br/>
				<span id="three-hour">3시간 이내에 이메일의 링크를 클릭해 주세요.</span>
			</div>
			<div id="tip">
				&#183 스팸 메일함을 확인해 보세요.<br/>
				&#183 이메일이 도착하지 않은 경우, IT특성화부로 문의해 주시기 바랍니다.
			</div>

			<form action="{getUrl('login', 'dispLoginPage')}" method="post">
				<input type="submit", value="" id="login-btn"/>
			</form>
		</div>
	</div>
</body>
</html>