<import path="css/findID_fail.css">

<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<title>Untitled</title>
</head>

<body>
	<div id="container">
		<div id="title"></div>
		<div id="main-box">
			<div id="contents">
				입력하신 정보가 올바르지 않습니다.
				정확한 정보로 확인 후 다시 입력 부탁드립니다.
			</div>
			<div id="tip">
				ID를 찾을 수 없는 경우 IT특성화부로 문의해 주시기 바랍니다.
			</div>
			<div id="btn-box">
				<form action="{getUrl('idpwfind', 'dispMain')}" method="post">
					<input type="submit" value="" id="retry-btn"/>
				</form>

				<form action="{getUrl('idpwfind', '??????????')}">
					<input type="button" id="signup-btn"/>
				</form>
			</div>
		</div>
	</div>
</body>
</html>