<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

	<title>Untitled</title>

</head>

<import path="css/findPW_change.css">

<body>

	<script type="text/javascript">
		var inputPw;
		var inputWarning;

		window.onload = function() {
			inputPw = document.getElementById("input-pw");
			inputRepw = document.getElementById("input-repw");
			inputPwWarning = document.getElementById("input-pw-warning");
			inputRepwWarning = document.getElementById("input-repw-warning");

			//inputPw.addEventListener("keyup", inputPwKeyUpHandler);
			//inputPw.addEventListener("keyup", inputRePwKeyUpHandler);
		}

		function inputPwKeyUpHandler(e) {
			
			var strength = checkPasswordStrength(inputPw.value);

				switch (strength) {
					case "short" :
						inputPwWarning.style.color = "#d02626"
						inputPwWarning.innerHTML = '비밀번호가 너무 짧습니다.';
						break;
					
					case "same" :
					case "bad" :
						inputPwWarning.style.color = "#d02626"
						inputPwWarning.innerHTML = '보안 강도: 취약(다른 비밀번호를 입력하세요)';
						break;
					
					case "good" :
						inputPwWarning.style.color = "#F90"
						inputPwWarning.innerHTML = '보안 강도: 보통';
						break;
					
					case "strong" :
						inputPwWarning.style.color = "#390"
						inputPwWarning.innerHTML = '보안 강도: 강력';
						break;
					
					case "very strong" :
						inputPwWarning.style.color = "#390"
						inputPwWarning.innerHTML = '보안 강도: 매우 강력';
						break;
					
				}
		}

		function inputRePwKeyUpHandler(e) {
			if (inputPw.value != inputRepw.value) {
				inputRepwWarning.innerHTML = "비밀번호가 다릅니다.";
			}else {
				inputRepwWarning.innerHTML = "";
			}
		}

		function checkPasswordStrength(password){
			var score=0;
			if(password.length<6) return"short";
			score+=password.length*4;
			score+=(checkRepetition(1,password).length-password.length)*1;
			score+=(checkRepetition(2,password).length-password.length)*1;
			score+=(checkRepetition(3,password).length-password.length)*1;
			score+=(checkRepetition(4,password).length-password.length)*1;
			if(password.match(/(.*[0-9].*[0-9].*[0-9])/)){score+=5}
			if(password.match(/(.*[!,@,#,$,%,^,&,*,?,_,~].*[!,@,#,$,%,^,&,*,?,_,~])/)){score+=5}
			if(password.match(/([a-z].*[A-Z])|([A-Z].*[a-z])/)){score+=10}
			if(password.match(/([a-zA-Z])/)&&password.match(/([0-9])/)){score+=15}
			if(password.match(/([!,@,#,$,%,^,&,*,?,_,~])/)&&password.match(/([0-9])/)){score+=15}
			if(password.match(/([!,@,#,$,%,^,&,*,?,_,~])/)&&password.match(/([a-zA-Z])/)){score+=15}
			if(password.match(/^\w+$/)||password.match(/^\d+$/)){score-=10}if(score<0){score=0}
			if(score>100){score=100}
			if(score<32)return"bad";
			else if(score<52)return"good";
			else if(score<85)return"strong";
			else return"very strong";
		}

		function checkRepetition(pLen,str){
			var res="";
			for(var i=0;i<str.length;i++){
				
				var repeated=true;

				for(var j=0;j<pLen&&(j+i+pLen)<str.length;j++){
					repeated=repeated&&(str.charAt(j+i)==str.charAt(j+i+pLen))
				}

			if(j<pLen){repeated=false}
			if(repeated){
				i+=pLen-1;
				repeated=false
			}
			else{res+=str.charAt(i)}}return res
		}

	</script>


	<div id="container">
		<form action="{getUrl('idpwfind', 'changPw')}" method="post">
			<div id="title"></div>
			<div id="main-box">
				<div id="inf-window">
					<ul class="container-header">
						<li> <div class="input-name">이름</div> <div class="input-id">이재훈</div> </li>
						<li> <div class="input-name">아이디</div> <div class="input-id">kooa23</div> </li>
					</ul>

					<ul class="container-header">
						<li>
							 <div class="pw-name">새 비밀번호</div> 
							 <input type="password" name="change-pw" id="input-pw" class="textbox" onkeyup="inputPwKeyUpHandler()" /> 

							 <div class="input-tip">
								<span id="input-pw-warning">비밀번호를 입력해 주세요.</span>
							</div>
						</li>

						<li> 
							<div class="pw-name">새 비밀번호 확인</div> 
							<input type="password" name="check-pw" id="input-repw" class="textbox" onkeyup="inputRePwKeyUpHandler()" /> 
							<div class="input-tip">
								<span id="input-repw-warning"></span>
							</div>
						</li>
					</ul>
				</div>

				<div id="title-tip">안전한 비밀번호 만들기</div>

				<ul id="pw-tip">
					
					<li class="line-tip">영문, 숫자, 특수문자를 혼용(6자 이상)하시면 보다 안전합니다.</li>
					<li class="line-tip">아이디와 같은 비밀번호나 주민등록번호, 생일, 학번, 전화번호 등 개인정보와 관련된 숫자, 연속된 숫자, 동일하게 반복된 숫자 등 다른 사람이 쉽게 알아낼 수 있는 비밀번호는 유출 위험이 높아 사용하지 않는 것이 좋습니다.</li>
					<li class="line-tip">이전에 사용하셧던 비밀번호를 재사용할 경우 도용의 우려가 있으니 가급적 새로운 비밀번호를 사용해 주십시오.</li>
					<li class="line-tip"> 기존 비밀번호에 특수문자(!@#$%^&*(),./)을 섞어 사용해 보세요. 기억하기 쉽고 도용 위험은 현저히 낮아집니다.</li>

				</ul>

				<input type="submit" value="" id="checkall-btn" />
			</div>
		</form>
	</div>
</body>
</html>