<import path="/static/css/form_beauty.css">
<import path="/static/css/form_beauty_chrome.css" requiredAgent="chrome">

<import path="stylesheet.css">
<import path="favicon.ico">

<import path="ie/upgrade_browser.js" targetie="lte ie 7">
<import path="ie/upgrade_browser.css" targetie="lte ie 7">

<title>한국디지털미디어고등학교 교내 인트라넷</title>

<div id="header">
	<div id="header-line"></div>
	<div id="header-content">
		<div id="header-logo">
			<a href="/">
				<img src="./img/header_logo.png" alt="한국디지털미디어고등학교 교내 인트라넷" width="417" height="23">
			</a>
		</div>
		<div id="header-sidetext" class="clearfix">
			<condition do="$user = User::getCurrent()">
				<true>
					<div class="child">
						<switch var="$user->userType">
							<case value="s">
								{$user->userName}({$user->grade}학년&nbsp;{$user->class}반&nbsp;{$user->number}번)님 환영합니다.
							</case>
							<case value="t">
								<condition do="$user->department">
									{$user->userName}({$user->departmentKr} {$user->positionKr})님 환영합니다.
								<else>
									{$user->userName}({$user->positionKr})님 환영합니다.
								</condition>
							</case>
							<case value="p">
								{$user->userName}님 환영합니다.
							</case>
							<default>
								{$user->userName}님 환영합니다.
							</default>
						</switch>
					</div>
					<ul class="child">
						<li>
							<a href="{getUrl('login', 'procLogout')}">로그아웃</a>
						</li>
						<li>마이페이지</li>
						<li class="final">사이트맵</li>
					</ul>
				</true>
				<false>
					로그인이 필요합니다
					{@ if (Context::getInstance()->moduleID != 'login') goLogin(); }
				</false>
			</condition>
		</div>
	</div>
	<div id="gnb">
		<ul class="clearfix">
			{@ foreach(Context::getMenu(1) as $key => $menu): }
				{@ if (!$menu->visible) continue; }
				{@ if ($menu->selected == true) $selectedTopMenu = $menu; }
				<condition do="$user">
					<true>
						<condition do="$menu->link">
						<a href="{$menu->link}"{@ echo $menu->linkTarget ? ' target="'.$menu->linkTarget.'"' : ''}>
						<else>
						<a href="/{@ echo (USE_SHORT_URL ? '' : '?menu=') . $menu->title}">
						</condition>
							<li class="{$menu->className}{@ if ($menu->selected) echo '-selected'}">
								<span class="menu-alt">{$menu->title_locale}</span>
							</li>
						</a>
					</true>
					<false>
						<li class="{$menu->className}-disabled">
							<span class="menu-alt">{$menu->title_locale}</span>
						</li>
					</false>
				</condition>
			{@ endforeach; }
		</ul>
	</div>
</div>
<condition do="$selectedTopMenu && $lnb = Context::getMenu(2)">
	<true>
		<div id="wrap" class="styled clearfix">
		{@ Context::getInstance()->addHeaderFile('/static/css/'.$selectedTopMenu->title.'.css'); }
			<div id="side-menu" class="fl">
				<div id="side-menu-top">
					<span class="hidden">{$selectedTopMenu->title_locale}</span>
				</div>
				<ul>
					{@ foreach ($lnb as $key => $menu) : }
						{@ if (!$menu->visible) continue; }
						<a href="/{@ echo USE_SHORT_URL ? ($selectedTopMenu->title.'/') : '?menu='; }{$menu->title}">
							{@ if ($menu->selected) $GLOBALS['selectedMenu'] = $menu; }

							<li class="lnb-{$menu->title}{@ if ($menu->selected) echo ' selected'}">
								<span class="hidden">{$menu->title_locale}</span>
							</li>
						</a>
					{@ endforeach; }
				</ul>
			</div>
			<div id="main-content" class="fl" style="min-height:{@ echo 372+45*count($lnb)}px">
				<condition do="$GLOBALS['selectedMenu']->extra_vars->showContentHeader !== false">
					<div id="content-header">
						<div id="content-title" class="{$GLOBALS['selectedMenu']->title}">
							<a href="/{@ echo (USE_SHORT_URL ? $selectedTopMenu->title.'/'.$GLOBALS['selectedMenu']->title : '?menu='.$GLOBALS['selectedMenu']->title); }">
								<h1>{$GLOBALS['selectedMenu']->title_locale}</h1>
							</a>
						</div>
					</div>
				</condition>

				{getContent()}
			</div>
		</div>
	</true>

	<false>
		<div id="wrap">
			{getContent()}
		</div>
	</false>
</condition>
<div id="footer">
	<div id="footer-left">
		<a href="/credit" target="_blank"><img src="./img/footer_copyright.png" width="596" height="30" /></a>
	</div>
	<div id="footer-right">
		<div class="footer-right-child">
			<ul>
				<a href="https://developer.dimigo.hs.kr" target="_blank"><li id="frc1-3">API</li></a>
				<li class="frc1-border"></li>
				<a href="#"><li id="frc1-2">개인정보취급방침</li></a>
				<li class="frc1-border"></li>
				<a href="#"><li id="frc1-1">이용약관</li></a>
			</ul>
		</div>
		<div class="footer-right-child">
			<ul>
				<a href="http://hangeul.naver.com/font" target="_blank"><li id="frc2-2">설치하기</li></a>
				<li id="frc2-1">이 웹사이트는 나눔고딕을 설치하시면 더욱 아름답습니다.</li>
			</ul>
		</div>
	</div>
</div>

<condition do="Context::getInstance()->isRealMobile">
	<div>
		<button style="width:100%; height:200px; font-size:20pt" onclick="location.href='{getUrlA('mobile=1', REAL_URL)}'">모바일 화면으로 보기</button>
	</div>
</condition>