@charset "utf-8";

ul,ol { margin: 0; padding: 0; list-style: none }
li { margin: 0; padding: 0 }
dl,dt,dd{ margin:0; padding:0 }
a img{ border:none; outline:none }

html {
	background:transparent url(./img/bg_pattern.png) repeat 0px 0px;
	background-color:#fcfcfc;
}
body{
	margin:0;
	padding:0;
	
	font-size:12px;
	font-family:나눔고딕,NanumGothic,돋움,Dotum,Arial,Helvetica,sans-serif;
	
	background:transparent url(./img/bg_pattern.png) repeat 0px 0px;
	background-color:#fcfcfc;
}

#header { background-color: #323232; color: white }
#header #header-line { height: 3px; background-color: #ec008c }
#header #header-content {
	width: 1000px;
	margin: 0 auto;
	padding: 32px 0 0;
	height: 54px;
	background: transparent url(./img/header_bg_pattern.png) no-repeat 5% 0%;
	*zoom :1;
}
#header #header-content:after{ content:""; display:block; clear:both }

#header #header-content #header-logo { float: left;}
#header #header-content #header-sidetext{ float: right; margin-top: 7px; }
#header #header-content #header-sidetext .child{ float:left }
#header #header-content #header-sidetext ul.child{ margin-left:10px; *zoom:1 }
#header #header-content #header-sidetext ul.child:after{ content:""; display:block; clear:both }
#header #header-content #header-sidetext ul.child li{ padding:0 8px; float:left; border-right:1px solid #EEE }
#header #header-content #header-sidetext ul.child li.final{ border-right:none }

#header #header-content #header-sidetext ul.child a:link    { text-decoration:none; color:white; }
#header #header-content #header-sidetext ul.child a:visited { text-decoration:none; color:white; }
#header #header-content #header-sidetext ul.child a:hover   { text-decoration:underline; color:white; }
#header #header-content #header-sidetext ul.child a:active  { text-decoration:none; color:white; }


#header #gnb{ height: 35px; margin: 0; padding:0; background: #fcfcfc url(./img/header_gnb_bg_pattern.png) repeat-x; }
#header #gnb ul a{ display: inline-block; *zoom:1; }
#header #gnb ul a:focus{ z-index: 2 }
#header #gnb ul { width:1000px; margin:0 auto; padding: 0; list-style: none; }
#header #gnb ul li { margin:0; padding:0; font-size:14px; background: url(./img/gnb_menu.png) no-repeat; min-width: 45px; list-style: none; float: left; height: 32px; line-height: 100% }
#header #gnb ul li.selected a{ color:#06C !important; font-weight:bold; }
#header #gnb ul li .menu-alt{ display: inline-block; width: inherit; height: 23px; visibility: hidden; text-align: center; font-size: 12px; padding-top: 9px }

#header #gnb ul li.menu-home { background-position:-0px 0px; width:45px }
#header #gnb ul li.menu-home-selected,
#header #gnb ul li.menu-home:hover { background-position:-0px -32px; width:45px }
#header #gnb ul li.menu-home-disabled { background-position:-0px -64px; width:45px }

#header #gnb ul li.menu-school-life { background-position:-45px 0px; width:84px }
#header #gnb ul li.menu-school-life-selected,
#header #gnb ul li.menu-school-life:hover { background-position:-45px -32px; width:84px }
#header #gnb ul li.menu-school-life-disabled { background-position:-45px -64px; width:84px }

#header #gnb ul li.menu-dormitory { background-position:-129px 0px; width:70px }
#header #gnb ul li.menu-dormitory-selected,
#header #gnb ul li.menu-dormitory:hover { background-position:-129px -32px; width:70px }
#header #gnb ul li.menu-dormitory-disabled { background-position:-129px -64px; width:70px }

#header #gnb ul li.menu-cafeteria { background-position:-199px 0px; width:68px }
#header #gnb ul li.menu-cafeteria-selected,
#header #gnb ul li.menu-cafeteria:hover { background-position:-199px -32px; width:68px }
#header #gnb ul li.menu-cafeteria-disabled { background-position:-199px -64px; width:68px }

#header #gnb ul li.menu-student-council { background-position:-267px 0px; width:91px }
#header #gnb ul li.menu-student-council-selected,
#header #gnb ul li.menu-student-council:hover { background-position:-267px -32px; width:91px }
#header #gnb ul li.menu-student-council-disabled { background-position:-267px -64px; width:91px }

#header #gnb ul li.menu-u-learning { background-position:-358px 0px; width:72px }
#header #gnb ul li.menu-u-learning-selected,
#header #gnb ul li.menu-u-learning:hover { background-position:-358px -32px; width:72px }
#header #gnb ul li.menu-u-learning-disabled { background-position:-358px -64px; width:72px }

#header #gnb ul li.menu-els { background-position:-430px 0px; width:116px }
#header #gnb ul li.menu-els-selected,
#header #gnb ul li.menu-els:hover { background-position:-430px -32px; width:116px }
#header #gnb ul li.menu-els-disabled { background-position:-430px -64px; width:116px }

#wrap {
	width: 1000px;
	margin: 30px auto 20px auto;
}

#wrap.styled {
	position: relative;
	background-color: white;
	border: #999;
	border-radius: 5px;
	box-shadow: 0px 0px 6px rgb(102, 102, 102);
	text-align: left;
	font-size: 13px;
	behavior:url(/intranet/static/src/PIE.htc);
}


#wrap #side-menu{ width: 249px }
#wrap #side-menu #side-menu-top{ height: 372px; text-align: right; }
#wrap #side-menu #side-menu-top .hidden{ display: inline-block; font-size: 32px; padding-top: 322px; padding-right: 12px; *zoom:1; }

#wrap #side-menu ul li{ height: 45px; }
#wrap #side-menu ul li .hidden{ display: inline-block; padding: 15px 0 0 17px; font-size: 14px; *zoom:1; }

#wrap #main-content{ border-left: 1px solid #D6D6D6; }
#wrap #main-content #content-header{ margin: 25px; }
#wrap #main-content #content-header #content-title a{ color: black; text-decoration: none; height: inherit; display: inline-block; *zoom:1; }
#wrap #main-content #content-header #content-title h1{ margin: 0; padding: 0; height: inherit; font-size: 23px; display: inline-block; *zoom:1; }

#footer{ width:1000px; margin:0 auto; font-size:10px; *zoom:1 }
#footer:after{ display:block; clear:both; content:"" }

#footer #footer-left{ float:left; margin-bottom:40px }
#footer #footer-right{ float:right; width:350px; margin-bottom:40px }
#footer #footer-right .footer-right-child{ margin-bottom:6px; *zoom:1 }
#footer #footer-right .footer-right-child:after{ display:block; clear:both; content:"" }

#footer #footer-right .footer-right-child ul li{
	float:right;
	background:transparent url(./img/footer_links.png) no-repeat;
	font-size:0px;
	color:transparent;
	height:12px;
	
	-moz-user-select:none;
	-khtml-user-select:none;
	-webkit-user-select:none;
	user-select: none;
}

#footer #footer-right .footer-right-child ul li.frc1-border{ width:25px; background-position:-41px 0px; }
#footer #footer-right .footer-right-child ul li#frc1-1{ width:41px; background-position:0px 0px; }
#footer #footer-right .footer-right-child ul li#frc1-2{ width:84px; background-position:-66px 0px; }
#footer #footer-right .footer-right-child ul li#frc1-3{ width:19px; background-position:-175px 0px }
#footer #footer-right .footer-right-child ul li#frc2-1{ width:274px; height:13px; background-position:0px -12px; cursor:default }
#footer #footer-right .footer-right-child ul li#frc2-2{ width:43px; height:13px; background-position:-274px -12px }

#footer #footer-right .footer-right-child ul li#frc1-1:hover{ width:41px; background-position:0px -25px; }
#footer #footer-right .footer-right-child ul li#frc1-2:hover{ width:84px; background-position:-66px -25px; }
#footer #footer-right .footer-right-child ul li#frc1-3:hover{ width:19px; background-position:-175px -25px }
#footer #footer-right .footer-right-child ul li#frc2-2:hover{ width:43px; background-position:-274px -37px }