<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

	<title>Untitled</title>

</head>

<import path="css/findID_little.css">

<body>
	<div id="container">
		<div id="title"></div>
		<div id="main-box">
			<div id="contents">chae0***</div>
			<div id="tip">
				개인정보보호를 위해 아이디를 여덟 자리로 임의 표기하였으며, 끝자리를 *로 표시하였습니다.<br/>
				아이디 뒷자리 확인을 원하는 경우 '이메일로 뒷자리 확인하기' 버튼을 눌러 확인할 수 있습니다.
			</div>
			<input type="button" id="checkall-btn"/>
	</div>
</body>
</html>